[2020-02-25 16:51] sharathrrao opened #30 "Airshipctl Integration with Rook for Deployment of Ceph Cluster"
**Problem description (if applicable)**
Airshipctl integrates with Helm charts to deploy Ceph cluster. This implies that there is always heavy development needed to upgrade, maintain any ceph cluster. Also, due to the current structure, it make scaling the ceph cluster harder.

**Proposed change**
As we move towards more Cloud Native way to implement the various components, we need to consider tha

[2020-04-22 15:58] ak3216 opened #16 "Deliver Prometheus helm charts (Helm Operator)"
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for Prometheus.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts

**Potential Impact**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential sequencing gaps are handled

[2020-04-22 15:59] ak3216 opened #15 "Deliver FluentD helm charts (Helm Operator)"
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for  FluentD.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts

**Potential Impact**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential sequencing gaps are handled

[2020-04-22 16:00] ak3216 opened #14 "Deliver AlertManager helm charts (Helm Operator)"
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for AlertManager.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts

**Potential Impact**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential sequencing gaps are handled

[2020-04-22 16:07] lb4368 opened #13 "Deliver Kibana helm charts (Helm Operator)"
**Problem description**
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for Kibana.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts.

**Potential impacts**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential sequencing g

[2020-04-22 16:16] lb4368 opened #12 "Deliver ElasticSearch helm charts (Helm Operator)"
**Problem description**
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for ElasticSearch.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts.

**Potential impacts**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential seque

[2020-04-22 16:18] lb4368 opened #11 "Deliver Grafana helm charts (Helm Operator)"
**Problem description**
To support software stack deployment, leverage Helm Operator to deliver helm charts with the correct configuration for Grafana.

**Proposed change**
Utilize functionality being developed in airshipit/airshipctl#177 to deliver Helm charts.

**Potential impacts**
This would change the delivery mechanism from Argo/Armada to Helm Operator need to make sure potential sequencing

[2020-05-01 20:57] ak3216 opened #10 "Integrate Multus CNI into Airship"
**Problem description**
To enable support for multiple container network interfaces (Calico CNI, SR-IOV CNI, etc), provide support for configuring, delivering & integrating the Multus CNI plug in into a Kubernetes environment.

**Proposed change**
1- A CR, carrying metadata for Multus chart needs to be defined for consumption of Helm Operator
2- The above CR for Helm Operator needs to be function

[2020-06-16 19:12] nagajagan opened #4 "Volumes attached twice"
[code]
Please observe there are 7 volumes those are attached twice.

Please let me know if you need more information.

[2020-06-17 22:08] nagajagan opened #5 "ping Latency Issue"
This issue is On branch v1.3
This issue is occurring with few VMs not 100% reproducible (so far).
This issue is not specific to a compute host/VLAN type/Provider network

[code]

[2020-06-18 16:16] nagajagan commented on #4
Is there any workaround to delete these duplicate attachments?

[2020-06-23 02:11] Mihalych commented on #4
If it is not OpenStack general question, can you refer to treasuremap version and when it happened during deployment process? What type of disks do you use? Do you see such issues on different hardware?

[2020-06-23 21:24] nagajagan commented on #4
treasure map version 1.3
We have only one lab and we see this issue there.
We are using PowerEdge R740xd  servers. it has TOSHIBA disks.

[2020-06-26 14:54] imarijitbose commented on #4
Identified some nova database inconsistencies. Cinder database is correct and consistent. This could be result of some race condition of immediate volume create and attaching them to instances. Manually the issue could not be reproduced. The workaround is provided to delete the rows of size "NULL" from "block_device_mapping" table of nova database.

[2020-06-26 15:50] nagajagan commented on #4
Thank you @imarijitbose that worked for me, I don't see duplicate volumes on the server now.

[2020-06-26 15:58] imarijitbose commented on #4
Thanks for the confirmation.. Fixes #4

[2020-07-01 07:27] sarpkoksal opened #6 "Genesis.sh fails at maas-ingress pod"
Hi,

We are tried to apply steps for K8S version update v1.17.3. However, maas-ingress pod fails at the end of genesis.sh. Armada log says that "These jobs were not ready=['maas-import-resource" . Is there anyone who can help on this issue?

Kind regards,

Sarp

[2020-07-06 15:42] imarijitbose commented on #5
@nagajagan Can we please close this if not valid anymore.

[2020-07-06 15:43] imarijitbose commented on #6
Hello Sarp, are you running this behind any proxy? Can you please provide the job logs.

[2020-07-06 16:48] nagajagan commented on #5
This environment is teared down. I can't provide any more information on this issue so we can close it for now.

[2020-07-07 14:01] nagajagan opened #7 "Failed to connect to server (code: 1006)"
Could not connect to VMs console.

# Compute node
[code]

# on controller
[code]
Let me know if you need more details.

[2020-07-09 21:40] nagajagan commented on #7
Not sure from where its picking up 127.0.0.1:5900
[code]

[code]

[2020-07-10 05:30] nagajagan opened #8 "openstack server resize not working as expected."
[code]

This is the error I see on dashboard.

Message:     OSError
Code:     500
Details:
    Traceback (most recent call last): File "/var/lib/openstack/lib/python2.7/site-packages/nova/compute/manager.py", line 204, in decorated_function return function(self, context, *args, **kwargs) File "/var/lib/openstack/lib/python2.7/site-packages/nova/compute/manager.py", line 3931, in resize_instance ti

[2020-07-14 05:17] nagajagan opened #9 "Ephemeral disk issue on Airship 1.7"
[code]

A VM is created with above flavor. I am expecting 100G drive but could not find it.

[code]

[2020-07-14 20:26] nagajagan opened #17 "keystone-api pods running with 0 containers"
Openstack endpoints are not responding.
[code]
When we debug both pods are running with zero containers.
[code]
Here are the events from each pod
[code]

[code]
Here is the keystone.conf file
[code]

[2020-07-14 20:59] nagajagan commented on #4
Thank you for the support.

[2020-07-14 20:59] #4 closed

[2020-07-14 21:20] #5 closed

[2020-07-15 21:11] nagajagan commented on #17
After 10 days or so this problem is occurring more frequently.
[code]

[2020-07-15 21:19] seaneagan commented on #11
Iniitial analysis of feature parity of stable grafana chart with osh-infra grafana chart:

Gaps:

1. Unclear how to add below jobs. Which ones are still needed? Can be included in separate chart? Can be included in grafana kustomize function (kustomize should generate unique names for jobs each time?)?
a. db init
b. db session sync
c. set admin user
d. add home dashboard

2. helm test framework is

[2020-07-15 21:49] nagajagan commented on #7
Configuration verified and could not find any issues, yet to find out why its taking default instead of configured port.

[2020-07-16 17:18] nagajagan commented on #17
[code]

[2020-07-16 22:20] nagajagan commented on #17
[code]

[2020-07-17 19:42] nagajagan commented on #9
I found out the ephemeral disk is present on the system. So, there is no issues as such with the Airship Openstack. The only difference is that the partition is not formatted in this Airship lab compared to other.

[2020-07-17 19:42] #9 closed

[2020-07-17 20:36] nagajagan commented on #17
[code]

[2020-07-19 00:23] nagajagan opened #18 "VM connectivity not as expected for --port"
This issue on Airship1.7

Created a VM with "--network" and inbound and outbound connectivity is as expected.

Created a VM with "--port" ping and SSH both are not working.

Created a VM with both "--network" and "--port"
Interface for "--network" is behaving good.
Interface for "--port" ping and SSH both are not working. Logged on VM using "--network" port and manually set the IP for "--port" int

[2020-07-20 14:26] hem2 commented on #18
Is the port coming from the same network that behaves good?

Can you share "ip a" and "ip r" command output?

[2020-07-20 17:47] lb4368 opened #19 "Deliver Dex helm charts (Helm Operator)"
To support software stack deployment of an OIDC provider, create a manifest function to allow delivery of Dex from treasuremap.

**Proposed change**
Complete the patchset here (https://review.opendev.org/#/c/733647/) to deliver the charts for Dex.  Then utilize the flux helm operator in airshipctl (airshipit/airshipctl#177) to create a manifest function to deliver Dex to a cluster.  Implement prop

[2020-07-20 23:05] nagajagan commented on #18
This issue is reproducible and occurring on multiple labs, all are running on Airship v1.7.

Both ports are on same network.
SSH using good port and  bad port didn’t help

Here are the step steps reproduce it.
[code]

[2020-07-21 00:21] hem2 commented on #18
I’d like to check a few…

1.	Verify if 10.97.80.132 is in the subnet range assigned to the network?
2.	Does ping work to the IP configured? Is SSH the only problem?
3.	Can you check what is configured for ListenAddress in /etc/ssh/sshd_config?
4.	I see ens4 interface is down in the below output. When you configured ens4, did you bring the interface up?
5.	Also, what is the use case for having two

[2020-07-21 12:57] ak3216 opened #20 "Create a function to deploy Multus CNI"
As an operator, I need the ability to deploy Multus Container Network Interface (CNI) to provide multi CNI support for my enviornment.

The current lab implementation of Multus has the manifests split between the cni/multus & cni/rbac directory each with their own kustomization.yaml. Ideally, the appropriate manifests should be combined into one function that might be sturctured something like thi

[2020-07-21 13:15] ak3216 opened #21 "Create a function to deploy SR-IOV CNI"
As an operator, I need the ability to deploy SR-IOV Container Network Interface (CNI) to provide CNI support for my enviornment.

The current lab implementation of SR-IOV has the manifests split between the cni/sriov, cni/rbac directories along with sriov-dp-config.yaml & sriov-net-attach.yaml in the /cni direcoty. Ideally, the appropriate manifests should be combined into one function that might

[2020-07-21 13:59] ak3216 opened #22 "Provide Calico CNI Dual Stack Support"
As an operator, I may need to provide dual stack support for my container interface environment so both IPV4 & IPV6 addresses can be supported.

Current lab implementation provides config updates/merges of the Calico implementation.
kustomization.yaml applies calico-config-merge.yaml & calico-node-config-merge.yaml.

calico-config-merge replaces the /data/cni_network_config with the necessary entr

[2020-07-21 18:55] ak3216 opened #23 "Create a function to deploy Helm Chart Collator"
As an operator, I need the ability to deploy helm-chart-collator into the airship-core type so that I can create a helm chart repository in my cluster.

The current lab implementation of helm-chart-collator has a kustomization.yaml file which leverages a namespace.yaml to define the namespace & deployment.yaml to define the daemonset & service.

If access to the lab implementation is required, ple

[2020-07-21 19:12] lb4368 opened #24 "Create Manifest Function for NGINX Ingress Controller"
To support software stack deployment of an ingress controller, create a manifest function to allow delivery of NGINX Ingress Controller from treasuremap.

**Proposed change**
Utilize the flux helm operator in airshipctl (airshipit/airshipctl#177) to create a manifest function to configure NGINX Ingress Controller to a cluster.  Implement proper gating to validate delivery.

[2020-07-22 12:28] ak3216 opened #25 "Airship 2.0 Kubernetes Conformance Certification"
**Proposed change**
As a participant in the Cloud iNfrastructure Telco Task Force (CNTT), Airship needs to have Kubernetes Conformance Certification so it can meet the requirements of CNTT Reference Architecture v2.

K8s conformance information can be found here: https://www.cncf.io/certification/software-conformance/
Specifically, information executing conformance testing can be found here:
https

[2020-07-27 19:37] ak3216 commented on #10
Closing given #20 as this is a duplicate of #20 which has more detailed requirements.

[2020-07-27 19:37] #10 closed

[2020-07-27 20:29] lb4368 opened #26 "Treasuremap Gating/Core for Airship 2.0"
For Airship 2.0, we need to set up treasuremap repository with a core type and site definition that will define a core airship site that can be used as a base site for implementation and for gating other treasuremap manifest functions.

Treasuremap will have a dependency on airshipctl in that it can pull in manifests and other dependencies from there.  Airshipctl should not have a dependency on tr

[2020-07-27 20:50] lb4368 commented on #26
The following patchsets have been created so far to create an airship-core type, a site definition that implements it, and a gate.  Further work needs to be done to update this to use the airship document pull command to pull in manifest documents from any upstream repository

    https://review.opendev.org/#/c/741711
    https://review.opendev.org/#/c/741648/

[2020-07-27 21:26] lb4368 opened #27 "Create Manifest Function for Local Persistence Volume Static Provisioner"
To support software stack deployment of the local static volume provisioner, create a manifest function to allow delivery of Local Persistence Volume Static Provisioner (https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner) from treasuremap.

Proposed change
Utilize the flux helm operator in airshipctl (airshipit/airshipctl#177) to create a manifest function to configure Local P

[2020-07-28 20:20] lb4368 commented on #24
Blocked by #26

[2020-07-28 20:21] lb4368 commented on #23
Blocked by #26

[2020-07-28 20:21] lb4368 commented on #22
Blocked by #26

[2020-07-28 20:22] lb4368 commented on #21
Blocked by #26

[2020-07-28 20:22] lb4368 commented on #20
Blocked by #26

[2020-07-28 20:22] lb4368 commented on #19
Blocked by #26

[2020-07-28 20:22] lb4368 commented on #16
Blocked by #26

[2020-07-28 20:23] lb4368 commented on #15
Blocked by #26

[2020-07-28 20:23] lb4368 commented on #14
Blocked by #26

[2020-07-28 20:23] lb4368 commented on #13
Blocked by #26

[2020-07-28 20:23] lb4368 commented on #12
Blocked by #26

[2020-07-28 20:23] lb4368 commented on #11
Blocked by #26

[2020-07-28 20:40] lb4368 opened #28 "Create Airship 2.0 CNTT/NC Type and Site Definition"
For Airship 2.0, we need to set up treasuremap type and site definition that will define a base CNTT/NC site.

This type would use appropriate composites/functions to create a conforming site.  This probably needs some further design to determine what all needs to be included within it, but initial site could be created.

[2020-07-29 14:11] ak3216 commented on #21
https://www.dell.com/support/article/en-us/sln312240/sr-iov-network-i-o-enhancement-in-a-virtualized-environment-in-windows-server-2012?lang=en

[2020-07-29 14:16] drewwalters96 commented on #21
This may require use of a baremetal test site enabled for SR-IOV. Depends on #28, as this should not be included in the airship core type.

[2020-07-29 14:22] drewwalters96 commented on #22
Depends on https://github.com/airshipit/airshipctl/issues/166. More discussion required on whether or not this should be included in the type defined by #28.

[2020-07-30 21:31] nagajagan commented on #18
Only issue when I bring up VM on 2 interfaces –-network and –-port.  not a show stopper for me now.

[2020-08-04 16:10] drewwalters96 commented on #28
I'll start on this one

[2020-08-06 17:38] lb4368 commented on #26
Both associated patchsets have been merged so closing this issue.

[2020-08-06 17:38] #26 closed

[2020-08-06 17:46] lb4368 commented on #27
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:47] lb4368 commented on #23
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:53] lb4368 commented on #19
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:55] lb4368 commented on #16
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:55] lb4368 commented on #15
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:56] lb4368 commented on #14
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:56] lb4368 commented on #13
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:56] lb4368 commented on #12
Dependent issue #26  is closed so removing blocked label.

[2020-08-06 17:57] lb4368 commented on #11
Dependent issue #26  is closed so removing blocked label.

[2020-08-18 15:57] drewwalters96 commented on #24
I'll start this. Hopefully the dex operator will be delivered by the time this is complete. If not, it can remain a WIP until then.

[2020-08-25 16:52] ak3216 opened #29 "Create a "final" version of Airship in a Bottle"
As a user wanting to explore Airship 1.0, I would like to have a stable, working version of Airship in a Bottle (AIAB) so that I can try out Airship.

This issue is being open based on an issue raised by Ankit Goel (@Ankit Goel) in the airshipit IRC/Slack channel. Here are the details of the issues:

Additionally, it was discussed on the 8/25 Weekly Community Meeting that while new users should be

[2020-08-25 21:38] drewwalters96 commented on #16
Working on this one

[2020-08-26 14:19] #28 closed

[2020-08-26 14:30] ak3216 commented on #30
This was moved from Airshipctl per the 8/26 Flight Plan call. Implementation has been done as a helm-release downstream in the lab. If access to the downstream implementation is required, please reach out in the Airshipit Slack/IRC.

[2020-08-27 18:58] lb4368 opened #31 "Configure Pod Security Policy Resources"
As an operator I need to configure one or more pod security policies so that I can control conditions with which pods in my site(s) must run in order to meet security requirements of my organization.

This includes but is not limited to configuration of AppArmor and seccomp profiles used by containers.

[2020-08-27 19:16] lb4368 commented on #31
This issue may need some design discussion that may result in associated issues being created.  Some design items:

1)  PodSecurityPolicy admission controller needs to be enabled via enable-admission-plugins argument to api-server
2)  Where are default seccomp and AppArmor profiles defined?  Image Builder?
3)  What considerations are there for defining the ClusterRole and ClusterRole binding for a

[2020-08-27 21:02] ak3216 opened #32 "Apply failsafe North - South network policies via Calico chart"
As an operator, I want the ability to define the failsafe rules (GlobalNetwork policies) through a Calico chart so that bare minimum required ports are opened for specific protocols as needed to complete the site deployment successfully.

At a minimum this would disabling Calico's default failsafe parameters by setting FailsafeInboundHostPorts and FailsafeOutboundHostPorts to "none".

In place of

[2020-09-09 01:30] nagajagan opened #33 "These jobs were not ready=['maas-import-resources']"
This issue is on Airship v1.7 ( environment is behind proxy server)

`wget http://images.maas.io/ephemeral-v3/daily/streams/v1/index.sjson` is successful from genesis node but still I am facing this issue.

Here is the error log from bootstrap-armada.log
[code]
These are the Errors on MAAS GUI.
![maas-import-resources](https://user-images.githubusercontent.com/11877480/92543664-aed85380-f211-11ea-

[2020-09-09 20:40] ak3216 opened #34 "Airshipctl Auditing/Logging"
As an operator deploying or managing a site using Airshipctl, I want to ensure that log files are available & contain all the necessary information to diagnose and resolve problems, track deployment progress, verify security integrity, and provide a clear audit trail.

There are several areas where logging/traceability may be necessary including Airshipctl commands & API calls, kubernetes logging,

[2020-09-09 21:11] nagajagan opened #35 "HTTPError: 503 Server Error: Service Unavailable for url: http://promenade-api.ucp.svc.cluster.local/api/v1.0/validatedesign"
shipyard commit configdocs is throwing following error.
[code]
This is from shipyard-api* pod logs
[code]

This is from in promenade-api-* pod logs
[code]

[2020-09-11 01:28] nagajagan opened #36 "horizon pods are not coming up"
Seems like latest horizon image is broken, please provide me a work around or correct me if I am wrong.

[code]

[2020-09-11 02:17] imarijitbose commented on #36
Naga, As discussed please override the horizon image in version.yaml with : docker.io/openstackhelm/horizon:ocata-ubuntu_xenial-20200513

Working to get the latest image fixed and pushed very soon.

[2020-09-11 18:04] nagajagan commented on #33
Didn't face this issues when the ENV  got direct internet connection. We see this issue  only when  ENV is behind the Proxy Server.

[2020-09-11 18:05] nagajagan commented on #35
Didn't face this issues when the ENV got direct internet connection. We see this issue only when ENV is behind the Proxy Server.

[2020-09-11 18:06] nagajagan commented on #36
Thank you @imarijitbose your  suggestion worked for me.

[2020-09-11 18:07] nagajagan commented on #7
Facing the same issues on 2 different labs. Both are running on Airship v1.7,

[2020-09-12 02:13] nagajagan opened #37 "Documentation should be updated allow-intermediate-commits=True"
Here is a small document update needed. Help says "allow-intermediate-commits=True" which is outdated.

[code]

[2020-09-13 15:25] nagajagan commented on #7
replacing docker.io/openstackhelm/nova & hear with stein images instead of ocata worked for me.

[2020-09-25 15:54] ak3216 opened #38 "Convert Airship 1.0 PSP chart to K8s PSP documents for Airship 2.0"
As an operator transitioning from AS1.0 to AS2.0, I want the ability to convert my existing Pod Security Policy Armada chart to a raw K8s PSP document, so that I can easily apply my PSPs in a site deployed by Airship 2.0.

This has a dependency on #31.

[2020-10-01 13:15] ak3216 opened #39 "Convert Airship 1.0 Armada Charts to Airship 2.0 Manifests"
As an operator transitioning from AS1.0 to AS2.0, I want the ability to convert my existing Armada charts to Airship 2.0 manifests, so that I can easily apply my manifests in a site deployed by Airship 2.0.

This is currently under investigation downstream & will be updated once an approach has been determined.

[2020-10-05 16:31] lb4368 commented on #12
Done.  Thanks Steven!

[2020-10-05 20:08] gtsteffaniak commented on #15
I can take this one, but I don't have permission to assign to myself.

[2020-10-05 20:09] drewwalters96 commented on #15
All yours @gtsteffaniak

[2020-10-07 15:19] drewwalters96 opened #40 "CI: DNS for ingress"
Much like the seaworthy-virt framework in Airship 1, we need DNS configured in the continuous-integration pipelines to stimulate accessing dashboards from outside the cluster. Ideally, this would be a role that could be used by airshipit/treasuremap as well.

[2020-10-07 15:27] lb4368 commented on #40
Moved to treasuremap

[2020-10-07 15:44] lb4368 opened #41 "airshipctl to support integrating with host-config-operator to perform day 2 operations"
Need a mechanism to exercise Day 2 operations with host-config-operator defined in https://github.com/airshipit/hostconfig-operator/issues/1 (as well as other update/upgrade scenarios)

As an operator I would like airshipctl to support various day 2 operations & updates leveraging the host-config-operator through treasuremap.

Acceptance Criteria :
    1. Validate host-config-operator functions/ac

[2020-10-09 02:46] nagajagan opened #42 "Exception deploying charts: ['osh-infra-ceph-config']"
While shipyard update_site and also update_software following error noticed. Seems like its waiting for condition that never come.

[code]

[2020-10-14 11:29] ak3216 opened #43 "Provide example open source Calico Network Policy function"
As an operator, I want an example Calico network policy function based on open source calico, so that I can have a model to apply various Calico CRs in my environment.

This has dependency on https://github.com/airshipit/airshipctl/issues/368 for the Tigera Operator integration which will be used to deploy Calico.

The example policy function should be included at the network cloud virtual test si

[2020-10-19 21:26] drewwalters96 opened #44 "CI: Replace deprecated GitHub authentication method"
**Problem description (if applicable)**
An endpoint used in our post job [will no longer be supported in November](https://developer.github.com/changes/2020-02-14-deprecating-password-auth/). In order to ensure that our jobs run successfully, we need to update our authentication method for GitHub.

**Proposed change**
Change the password authentication in [update_github_issues.py](https://github.c

[2020-10-27 13:49] drewwalters96 opened #45 "Document pull for Treasuremap"
While airshipctl is using `airshipctl document pull` in its [voting job](https://github.com/airshipit/airshipctl/blob/master/tools/deployment/23_pull_documents.sh), Treasuremap still does not. Treasuremap needs to enable this functionality for operators using the scripts in `tools/deployment` in order to take advantage of referencing a known, compatible version of airshipctl rather than cloning ma

[2020-10-27 13:50] drewwalters96 opened #46 "Add airshipctl document pull functionality to CI"
While airshipctl is using `airshipctl document pull` in its [voting job](https://github.com/airshipit/airshipctl/blob/master/tools/deployment/23_pull_documents.sh), Treasuremap still does not. Treasuremap needs to enable this functionality for operators using the scripts in `tools/deployment` in order to take advantage of referencing a known, compatible version of airshipctl rather than cloning ma

[2020-10-27 13:50] #45 closed

[2020-10-27 13:50] drewwalters96 commented on #45
Duplicate

[2020-10-28 17:37] sirajyasin commented on #44
This issue is resolved with this PS
https://review.opendev.org/#/c/759453/

[2020-10-29 21:48] mattmceuen opened #47 "Add a hardwareprofile-cruiser function and integrate into NC"
The hostgenerator-m3 function allows sites' host catalogues to optionally specify a (per-host) hardwareProfile name, and hardwareProfiles can be defined to include firmware and raid configuration, which is rendered into generated BareMetalHost/Secrets.  We need to create a hardwareProfile that matches telco cruiser-type hardware and configuration.

Note: if we want to use a different name than "cr

[2020-11-18 16:15] mattmceuen opened #48 "Patch hostgenerators to delete catalogues"
To facilitate catalogue-driven generation of BareMetalHost resources, airship splits the work into two pieces:
1. `<phasename>/hostgenerator/` is responsible for substituting catalogue variables into a host generation template
2. `<phasename>/` invokes its `hostgenerator/` as a Kustomize `generator:`, leveraging the results of 1. to generate BMH.

However, a weird side-effect of this setup is that

[2020-11-18 16:33] drewwalters96 opened #49 "Add docEntryPoint feature"
DocumentEntryPoints in Treasuremap are coupled to site names since the
documents have not been updated to leverage the docEntryPointPrefix
feature. Enable the feature in order to de-couple phase
documentEntryPoints from site paths, improving downstream consumption of
these documents.

[2020-12-09 17:22] ak3216 commented on #41
@sirajyasin can you start looking at this in context of http://github.com/airshipit/hostconfig-operator/issues/1 and how we'd integrate hostconfig-operator with treasuremap?

[2020-12-10 16:53] ak3216 opened #50 "Define Treasuremap Branching Strategy"
This is a placeholder issue to review the branching strategy for treasuremap to align with the Airship 2.0 release.

Currently, we have these Treasuremap branches:
- master (Airship 1, with sloop, skiff, foundry etc)
- v1.8-prime branch (latest Airship 1, but only cruiser type functional)
- v2.0 branch (Airship 2)

One approach would be to rename the current v2 branch to main, rename the main bran

[2020-12-15 19:14] sb1975 opened #51 "Create airshipit/treasuremap Function for logging-operator"
Description :
As a developer I need the ability to run the logging-operator in the cluster to manage the logs. Logging operator automates the deployment and configuration of a Kubernetes Cluster logging .
For this a logging-operator function will be created in the airshipit/treasuremap repo.

Upstream reference link :  https://github.com/banzaicloud/logging-operator

Acceptance Criteria :
- Creati

[2020-12-15 19:18] sb1975 opened #52 "Create airshipit/treasuremap Function for Elasticsearch"
Description :
As a developer I need the ability to create an Elasticsearch function in the airshipit/treasuremap repo to create the Elasticsearch cluster used for storing logs in the cluster.

Upstream reference link :  https://github.com/elastic/helm-charts/tree/master/elasticsearch

Acceptance Criteria :

Creation of reusable Elasticsearch  function which can be used in any cluster.

[2020-12-15 19:22] sb1975 opened #53 "Create airshipit/treasuremap Function for Kibana"

[2020-12-15 19:30] sb1975 opened #54 "Create airshipit/treasuremap Function for Elasticsearch Exporter"
Description :
As a developer I need the ability to create an function for Elasticsearch Exporter in the airshipit/treasuremap repo to create the Elasticsearch Exporter  for integration with Prometheus.

Upstream reference link : https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-elasticsearch-exporter

Acceptance Criteria :

Creation of reusable elasticsearch-exporter

[2020-12-15 19:37] sb1975 opened #55 "Create LMA-base composite in airshipit/treasuremap"
Description :
As a developer I would like to Create LMA-base composite that can be used for any Cluster.

The LMA-Base Composite will use the Logging-operator function and the Kube-Prometheus-Stack function. However the Grafana will be disabled by default when using the Kube-Prometheus-Stack function.

Acceptance Criteria :
  - Create the LMA-Base composite that can be reused for any cluster.

[2020-12-15 20:00] sb1975 opened #56 "Create logging-operator composite in airshipit/treasuremap for subcluster"
Description :
As a developer I need the ability to Create logging-base composite for a subcluster.
The composite will use the functions with overrides specific to the implementation for the subcluster.
Acceptance Criteria :
            - Configure   logging-operator for subclusters          
            - Flows CRs for   subcluster infra applications          
            - Output CR to   logging-

[2020-12-16 02:38] sb1975 opened #57 "Create Elasticearch-Ingest composite in airshipit/treasuremap"
Description :

As a developer I need the ability to Create Elasticearch-Ingest composite
The composite will use the functions with overrides specific to the implementation for the cluster.

Acceptance Criteria :
- An instance of the Elasticsearch function, configured to deploy a set of nodes configured with the master and ingest roles

[2020-12-16 02:42] sb1975 opened #58 "Create Elasticsearch-Data composite in airshipctl/treasuremap"
Description :

As a developer I need the ability to to create the Elasticsearch-Data composite in airshipctl/treasuremap
This will include instance of the Elasticsearch function, configured to deploy a set of nodes configured with the Data role. These nodes connect to the Elasticsearch-ingest nodes to form the Elasticsearch cluster

Acceptance Criteria :
- An instance of the Elasticsearch-Data com

[2020-12-16 02:45] sb1975 opened #59 "Create Kibana composite in airshipctl/treasuremap"
Description :

As a developer I need the ability to to create an instance of the Kibana function, configured to connect to the Elasticsearch cluster

Acceptance Criteria :
- An instance of the Kibana function, configured to connect to the Elasticsearch cluster

[2020-12-16 02:46] sb1975 opened #60 "Create Elasticsearch Exporter composite"
Description :

As a developer I need the ability to to Create Elasticsearch Exporter composite configured to monitor the Elasticsearch cluster.

Acceptance Criteria :

An instance of the exporter configured to monitor the Elasticsearch cluster

[2020-12-16 02:51] sb1975 opened #61 "Create LMA-stack composite in airshipit/treasuremap"
Description :

As a developer I would like to create a LMA-Stack Composite that can reused for Consolidating the LMA data from other clusters in a LMA Subcluster.
The LMA-stack composite will use the functions that include ElasticSearch, Kibana, ElasticSearch-Exporter , Thanos-operator, Grafana(by enabling the grafana in the Kube-Prometheus-Stack function) and the  Minio-S3 function .

Acceptance

[2020-12-16 02:56] sb1975 opened #62 "logging, monitoring and alerting CRs for logging-stack"
Description :

Integrate with logging-base and monitoring-base:
            1. Create logging CRs for logging-stack
            2. Create monitoring CRs for logging-stack
            3. Create alerting CRs for logging-stack
The logging,monitoring and alerting configurations specific to a cluster will be created in the coresponding CRs which will be consumed by the logging and monitoring operators.

[2020-12-16 03:01] sb1975 opened #63 "Create airshipit/treasuremap Functions for Kube-Prometheus-Stack"
Description:
Create airshipit/treasuremap Functions for Kube-Prometheus-Stack for deploying the Kube-Prometheus-Stack helm charts in the cluster.

This can utilize the upstream link :
https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack.

Acceptance Criteria :
Creation of reusable Kube-Prometheus-Stack function which can be used in any cluster with composites.

[2020-12-16 03:11] sb1975 opened #64 "Create airshipit/treasuremap Functions for Thanos-Operator"
Description :
Create airshipit/treasuremap Functions for Thanos-Operator for storing the Long Term Metrics storage in a Centralized Location.

The upstream reference for Thanos operator : https://github.com/banzaicloud/thanos-operator

Acceptance Criteria :
Creation of reusable Thanos operator function which can be used in any cluster in composites.

[2020-12-16 03:19] sb1975 opened #65 "Create undercloud monitoring-base composite in airshipctl/treasuremap"
Description :
Create undercloud monitoring-base composite with the following
            1. An instance of the Kube-Prometheus-Stack function, configured to provide a base set of monitors for undercloud
            2. Monitoring CRs for undercloud infra
            3. Alerting CRs for undercloud infra

[2020-12-16 03:20] sb1975 opened #66 "Create subcluster monitoring-base composite in airshipctl/treasuremap"
Description :
Create subcluster monitoring-base composite with following

1. An instance of the Kube-Prometheus-Stack function, configured to provide a base set of monitors for subclusters
2. Monitoring CRs for undercloud infra
3. Alerting CRs for undercloud infra

[2020-12-16 03:22] sb1975 opened #67 "Create Monitoring stack composite"
Description : Create 'Monitoring Stack' Composite
The Composite includes the following :

- a function for deploying banzaicloud/thanos-operator
- a composite which deploys grafana and a thanos querier,
- and phase documents for running this composite in the target cluster

This change adds the 'lma-stack' phase as an entrypoint, which
can be extended to provision other lma services

[2020-12-16 04:03] sb1975 opened #68 "Create MinIO S3 Provider function"
Description :
Create MinIO S3 Provider function in airshipit/treasuremap which can be reused in Composites for creating Object Storage.

Acceptance Criteria :
Creation of a reusable MinIO S3 Provider function in airshipit/treasuremap

[2020-12-16 04:10] sb1975 opened #69 "Create LMA-Storage (Minio) composite"
Description :
Create LMA-Storage (Minio) composite to address the Object storage requirement for the LMA subcluster needs.
MinIO will get deployed and will provide the object buckets for LMA components like Elasticsearch snapshots.

This is being addressed by PS: https://review.opendev.org/c/airship/treasuremap/+/770710

[2020-12-16 14:18] drewwalters96 commented on #49
Completed in https://github.com/airshipit/treasuremap/commit/57c840341b3144bb7287f643507478c8bb29c2ec

[2020-12-16 14:18] #49 closed

[2020-12-16 14:23] drewwalters96 commented on #24
Closed in https://github.com/airshipit/treasuremap/commit/971417cf558d748544f131017f3aedef86c925a6

[2020-12-16 14:23] #24 closed

[2020-12-16 14:25] drewwalters96 commented on #41
This has been completed, but it causes the Treasuremap deployment job to fail at the end because the image has not published to Quay.io. Another issue has been created in the hostconfig-operator repository to care for that.

Closed in https://github.com/airshipit/treasuremap/commit/511a4b0850a1c8f39924571e6146347513580267

[2020-12-16 14:25] #41 closed

[2020-12-16 14:26] drewwalters96 commented on #46
Closed in https://github.com/airshipit/treasuremap/commit/8547656a684c59188004c33935be0f93d23a4c29

[2020-12-16 14:26] #46 closed

[2020-12-16 14:27] drewwalters96 commented on #48
Closed in https://github.com/airshipit/treasuremap/commit/39a6036ca89a53daf8482dc5f1547aed01e5e4ab

[2020-12-16 14:27] #48 closed

[2020-12-16 15:18] #11 closed

[2020-12-16 15:18] #12 closed

[2020-12-16 15:18] #13 closed

[2020-12-16 15:18] #14 closed

[2020-12-16 15:18] #15 closed

[2020-12-16 15:18] #16 closed

[2020-12-16 15:27] jezogwza commented on #44
Close , ps was merged

[2020-12-16 15:27] #44 closed

[2020-12-18 21:34] sb1975 opened #70 "Create LMA-infra (Base Composite Phases) in airshipctl/treasuremap"
As a developer I would like to create an airshipctl phase called LMA-Base Composite Phase.
This phase will do the following in case of Undercloud Cluster as well as Sub-Cluster.
	- Install the LMA-Base Composite
	- the phases will include the LMA CRs for Cluster Infrastructure components which include :  Flow,Output,Podmonitor,ServiceMonitor,PrometheusRules,AlertmanagerConfig,etc.

This issue comb

[2020-12-18 21:47] sb1975 opened #71 "Create Phase for LMA Subcluster Workload"
As a developer I would like to create an airshipctl phase called LMA-Subcluster Workload Phase.
This phase will use the LMA-Stack Composite. The LMA Stack composite uses the functions (ES, Kibana, ES-Exporter & Thanos-operator, Grafana(enable the grafana in the KPS, and Minio-S3 function) covered in #61
This phase will also use the Elasticsearch function for  Elasticearch-Ingest nodes & Elasticear

[2020-12-23 23:03] mattmceuen opened #72 "Align treasuremap to image-builder"
We need to true up treasuremap to the airshipctl change below, which changes
configuration (and naming conventions) to match the new image-builder
that can be used for both iso and qcow generation.

https://review.opendev.org/c/airship/airshipctl/+/758782

[2020-12-23 23:05] mattmceuen commented on #72
Fix: https://review.opendev.org/c/airship/treasuremap/+/768374

[2021-01-04 15:01] StevTheDev commented on #51
Hello @sb1975, this function is added in [this PS](https://review.opendev.org/c/airship/treasuremap/+/769095/)

[2021-01-04 15:02] StevTheDev commented on #63
Hello @sb1975, the function is added in [this PS.](https://review.opendev.org/c/airship/treasuremap/+/769095)

[2021-01-05 00:51] sb1975 opened #73 "Error : Trying to build Airship2 using Treasuremap"
When I run the below
user@airship:~/treasuremap$ sudo tools/deployment/22_test_configs.sh

It gives error , can someone please fix or add more explanation why its happening in Treasuremap ? (While similar script works in Airshipctl)

+ airshipctl config set-manifest treasuremap --repo airshipctl --url https://opendev.org/airship/airshipctl.git --commithash 1890d0cd7e9b868c3afdc8d1c65713e739dc9da2

[2021-01-05 01:09] sb1975 opened #74 "Explanation on .airship/config file"
It would be helpful to understand the use of "airshipctl document pull" and how it works together with the content of the .airship/config.

`apiVersion: airshipit.org/v1alpha1
contexts:
  default:
    contextKubeconf: ""
    managementConfiguration: default
    manifest: default
  ephemeral-cluster:
    contextKubeconf: ephemeral-cluster_ephemeral
    managementConfiguration: dummy_management_conf

[2021-01-05 14:01] mattmceuen opened #75 "Treasuremap needs to be updated to use Tigera Operator"
Recently, airshipctl migrated from raw calico manifests to using the tigera operator to install calico.  This had impacts to the manifests:
https://review.opendev.org/c/airship/airshipctl/+/762773

Since Treasuremap uses airshipctl's deployment scripts, which have a dependency now on tigera operator, we should go ahead and make the same changes to treasuremap's airship-core type which were made to

[2021-01-05 15:57] sb1975 commented on #73
This was due to a "/" after the command in Line 45.
Reference - https://review.opendev.org/c/airship/treasuremap/+/768568/2/tools/deployment/22_test_configs.sh#45

[2021-01-05 16:02] sb1975 commented on #73
Noe getting error in next step :

+ airshipctl document pull --debug
[airshipctl] 2021/01/05 15:54:23 opendev.org/airship/airshipctl@/pkg/document/pull/pull.go:36: Reading current context manifest information from /home/esudbat/.airship/config
[airshipctl] 2021/01/05 15:54:23 opendev.org/airship/airshipctl@/pkg/document/pull/pull.go:51: Downloading airshipctl repository airshipctl from https://ope

[2021-01-05 17:14] sirajyasin commented on #75
I can start looking into this issue.

[2021-01-05 17:16] drewwalters96 commented on #75
Thanks @sirajyasin

[2021-01-05 17:20] sb1975 commented on #73
The next error :
[code]

[2021-01-06 15:20] ak3216 opened #76 "Develop an OpenStack-Helm endpoints catalog"
**Problem description**
As an operator, I want the ability to specify OpenStack-Helm software/component endpoints in Airship 2 in a way that is consistent to how I manage OSH endpoints in Airship 1 today, so that I can maintain OSH endpoints in a manner that's consumable by OSH.

**Proposed change**
The OSH endpoint catalog should be formatted in a similar fashion to what's out there today with on

[2021-01-06 15:43] sirajyasin commented on #75
https://review.opendev.org/c/airship/treasuremap/+/769412

[2021-01-06 20:06] gtsteffaniak commented on #52
ssign to me

[2021-01-06 20:20] sirajyasin commented on #75
The PS https://review.opendev.org/c/airship/treasuremap/+/769412 to fix calico deployment is merged. This issue can be marked closed

[2021-01-06 21:12] sb1975 commented on #73
Error at next level :
[code]

[2021-01-06 22:03] StevTheDev commented on #70
/assign me

This change adds two phases to treasuremap:

- An lma-infra-init phase which deploys the logging and prometheus
operators (And their associated CRDs) into the lma-infra namespace
- An lma-infra phase which creates CRs in the environment to
configure instances of lma infrastructure.

Splitting this into two phases was required, since kustomize/airshipctl
rejects a CR object before the c

[2021-01-12 14:47] sirajyasin commented on #75
This issue can be marked closed.

[2021-01-12 14:49] ak3216 commented on #75
Closing per code merge.

[2021-01-12 14:49] #75 closed

[2021-01-12 15:22] sirajyasin opened #77 "Deploy worker node is failing due to recent changes in arishipctl"
**Describe the bug**
Deploy worker node is failing due to recent changes in arishipctl folder structure. A new director provision created within test-site/target/worker.

**Steps To Reproduce**
Deploy test-site using treasuremap v2

**Expected behavior**
Deployment of worker node should be successful.

**Environment**
- airshipctl Version:
- Operating System:
- Kernel version:
- Kubernetes Version

[2021-01-15 19:45] sshiba commented on #19
I am willing to work on this issue. Please, assign it to me. Thanks.

[2021-01-15 19:47] drewwalters96 opened #78 "Reuse phase, executor, and plan definitions from airshipctl"
The [Treasuremap phase definitions ](https://github.com/airshipit/treasuremap/tree/v2/manifests/type/airship-core/phases) in each type are identical to the ones in airshipctl yet they are redefined. Rather than redefining the phases, we should inherit all phases from airshipctl and patch them when necessary.

[2021-01-15 19:48] drewwalters96 commented on #19
@sshiba all yours. Thanks!

[2021-01-20 02:40] eratnch commented on #43
I can start looking into this issue. Please assign to me.

[2021-01-20 12:32] ak3216 commented on #43
@eratnch, all yours! Thanks!

[2021-01-20 18:46] mattmceuen commented on #25
This has been merged (into airshipctl, change # 767392).

[2021-01-20 18:54] mattmceuen opened #79 "Check k8s conformance via periodic jobs"
Now that we have scripts in place to drive running the CNCF and Kube Bench  conformance tests against a docker-based Airship deployment, and an experimental zuul job to run them on-demand, we should follow up with job(s) that run the tests on an ongoing basis.

It needs to be determined whether the tests should run weekly, monthly, or with some other cadence
It needs to be determined where the tes

[2021-01-20 18:57] mattmceuen opened #80 "Include k8s conformance testing in bare-metal deployment jobs"
Now that we have scripts in place to drive running the CNCF and Kube Bench  conformance tests against a docker-based Airship deployment, and an experimental zuul job to run them on-demand, we should follow up with job(s) that run the tests against a more complete bare-metal Airship setup.

This issue should piggyback on the WIP to create a bare-metal site definition which is exercised periodically

[2021-01-21 02:27] rkjain opened #81 "target control plane stuck in provisioning state post clusterctl-move (capd)"
I am trying to add a phase - `initinfra-networking-target` to apply cni . Previously, cni was being applied as a post kubeadm command. I  notice that the  CNI gets applied properly . However, the target control plane gets stuck in
provisioning state after the `clusterctl-move` operation.

The order exections of phases for docker provider are:

[code]
The logs at and after phase `initinfra-networki

[2021-01-21 02:29] #81 closed

[2021-01-21 02:29] rkjain commented on #81
Please disregard. This issues needs to be created in airshipctl

[2021-01-22 12:43] ak3216 commented on #25
Closing per code merge & opening of #79 & #80.

[2021-01-22 12:43] #25 closed

[2021-01-22 18:38] lb4368 opened #82 "Create Sub-Cluster Manifest Type/Functions"
As an operator, I want sub-cluster manifest type and/or functions define base artifacts deploying sub-cluster components, so that I have a template for the stages of sub-cluster deployment and better and easier management of the deployment artifacts.

These should be defined so that they can then be inherited/called and customized using replacement transformation in sites to achieve the required c

[2021-01-25 21:36] sb1975 commented on #61
Closed because the scope is included as part of #71

[2021-01-25 21:36] #61 closed

[2021-01-25 23:28] sb1975 commented on #67
This is being addressed by https://review.opendev.org/c/airship/treasuremap/+/770709

[2021-01-25 23:31] sb1975 opened #83 "Create Elastic-Stack composite"
This Issue combines the following Issues :
    # Create Elasticsearch Exporter composite #60
    # Create Kibana composite in airshipctl/treasuremap #59
    # Create Elasticsearch-Data composite in airshipctl/treasuremap #58
    # Create Elasticearch-Ingest composite in airshipit/treasuremap #57
    # logging, monitoring and alerting CRs for logging-stack #62

This is addressed by the below PS:
ht

[2021-01-25 23:39] sb1975 commented on #66
Closed as covered under #70

[2021-01-25 23:39] #66 closed

[2021-01-25 23:39] sb1975 commented on #65
Closed as covered under #70

[2021-01-25 23:39] #65 closed

[2021-01-25 23:39] sb1975 commented on #56
Closed as covered under #70

[2021-01-25 23:39] #56 closed

[2021-01-25 23:41] sb1975 commented on #68
PS WIP Steven https://review.opendev.org/c/airship/treasuremap/+/770710

[2021-01-25 23:41] sb1975 commented on #64
PS Submitted Steven https://review.opendev.org/c/airship/treasuremap/+/770709)

[2021-01-25 23:42] sb1975 commented on #52
PS Submitted Graham https://review.opendev.org/c/airship/treasuremap/+/771884

[2021-01-25 23:42] sb1975 commented on #53
PS Submitted Graham https://review.opendev.org/c/airship/treasuremap/+/771884

[2021-01-26 15:30] eratnch commented on #80
Just wanted to mention that one of the prerequisites to run conformance is to have a kubernetes cluster with minimum 3 nodes (1 controlplane and 2 worker nodes).

My understanding is that currently bare metal supports 1 control plane and 1 worker node.

I ran the treasuremap deployment scripts to deploy the test site.

[code]
Conformance test will not run unless bare-metal deployment supports mini

[2021-01-26 15:36] lb4368 commented on #60
Closing as this is now part of #83.

[2021-01-26 15:36] #60 closed

[2021-01-26 15:36] lb4368 commented on #59
Closing as this is now part of #83.

[2021-01-26 15:36] #59 closed

[2021-01-26 15:37] lb4368 commented on #58
Closing as this is now part of #83.

[2021-01-26 15:37] #58 closed

[2021-01-26 15:37] lb4368 commented on #57
Closing as this is now part of #83.

[2021-01-26 15:37] #57 closed

[2021-01-26 15:38] lb4368 commented on #62
Closing as this is now part of #83.

[2021-01-26 15:38] #62 closed

[2021-01-26 17:39] rkjain commented on #79
Hi, I can pick this one up. :)

[2021-01-26 17:40] eratnch commented on #80
Please assign this issue to me.

[2021-01-26 17:45] StevTheDev commented on #64
Please assign this one to me. Thanks!

[2021-01-26 17:45] StevTheDev commented on #68
Please assign this one to me. Thanks!

[2021-01-26 17:45] StevTheDev commented on #69
Please assign this one to me. Thanks!

[2021-01-26 17:45] StevTheDev commented on #67
Please assign this one to me. Thanks!

[2021-01-26 22:29] vs422h commented on #30
Please assign this issue to me. Thanks.

[2021-01-26 22:38] drewwalters96 commented on #30
@vs422h all yours!

[2021-01-27 15:21] bravinash82 opened #84 "Load balancer Targets"
**Problem description (if applicable)**
As a deployment engineer, I should be able to use airshipctl to deploy a multi-node HA K8s cluster and host the control plane API on a dedicated but optional load balancer node (or service, incase of hyperscaller) in addition to the control plane and worker nodes

**Proposed change**
airshipctl must provide a mechanism to setup the following with respect to

[2021-01-27 15:22] bravinash82 opened #85 "Robust Networking Options"
**Problem description (if applicable)**
As a enterprise operator and cluster deployment engineer, I would like airshipctl and its manifest to provide a mechanism to configure more than a single network for target cluster. This ensure proper segregation of traffic from specific function. For example, all node level storage traffic can be separated out to a dedicated network. A public egress network

[2021-01-27 15:32] sirajyasin commented on #78
I can start working on this issue if no one has started yet

[2021-01-27 15:47] jezogwza opened #86 "PSP are been deprecated . What is airship security posture replacement?"
PSP was found to never do what we expected anyway, but now that they are going away in k8s 1.22.

How will airship provide  the configuration to enable the security posture we want to achieve,

[2021-01-27 15:48] jezogwza commented on #31
refer to #86  for information on a new direction.

[2021-01-28 15:49] drewwalters96 opened #87 "Introduce an incubation phase for new functions"
Currently, functions are added directly to the workload phase which can interrupt sites that inherit documents from Treasuremap. The community determined on a recent design call to create an _incubation phase_ that will run in its own experimental job to vet functions before they are introduced to the main `workload-target` phase. The criteria for when a function can move from the incubation phase

[2021-01-28 16:41] sirajyasin commented on #78
PS in review
https://review.opendev.org/c/airship/treasuremap/+/772756

[2021-01-28 18:09] sshiba commented on #19
I was able to run the PS https://review.opendev.org/c/airship/charts/+/770677 on my PC.
Once the credentials retrieved using the client app, tested the authorization aspects (role/cluster role/role binding) with success.

Tried to deploy Dex with connectors for Github and Google IdPs for testing purposes.
o	Github IdP: got it working once but failed during the callback. It might be the callback ur

[2021-01-29 01:02] sshiba commented on #19
Started the work on deploying Dex on a Target cluster deploy on Azure Cloud using `airshipctl phase plan`.
-	Hard-coded (for testing only) the “template” for `KubeadmControlPlane` object in `manifests/function/k8scontrol-capz/v0.4.9/controlplane.yaml` to add the `oidc `parameters for the API server (see snippet below)
-	The control plane node had deployed and was properly configured and API server

[2021-01-29 12:34] ak3216 commented on #80
Blocked waiting on  stl3 baremetal deployment

[2021-01-30 01:03] sshiba commented on #19
- Deployment of Target Cluster on Azure Cloud using Airship 2 (phase run) completed. Based on PS https://review.opendev.org/c/airship/airshipctl/+/765629

- Deployment of Dex in the Target Cluster completed but now in troubleshooting mode. Based on PS https://review.opendev.org/c/airship/charts/+/773216

Issue:
  When trying the authenticator web app on a browser, the request to load it does not r

[2021-02-02 01:05] sshiba commented on #19
**Troubleshooting with Airship**
Spend the day trying to access the `NodePort `service on a Target cluster deployed on Azure cloud using `airshipctl`.
Tried many things such as creating a simple NGINX application without success. Engaged the Azure team on CAPZ slack community but it didn’t help. Tried also creating an NGINX application with `LoadBalancer `and no success either.

**Troubleshooting

[2021-02-02 13:40] manojkva commented on #32
Please assign this to me.

[2021-02-02 15:40] eratnch commented on #43
I am able to deploy sample network policies (kubernetes policy and calico policy) using `initinfra-networking` as a phase for both ephemeral and target cluster.

The integration using phase commands is described [here](https://hackmd.io/RyqVceQeSpqBS3OrtsH6XQ?view).

[2021-02-02 15:47] eratnch commented on #43
There are two different CRs supported by Calico network policies.

- One that uses `apiVersion` as `crd.projectcalico.org/v1`
- The other that uses `apiVersion` as `projectcalico.org/v3`
The first types of policies can be deployed through `kubectl` commands.
The second types of policies need to be deployed through `calicoctl`.
Waiting on some input on whether we can use the first kind (with crd) o

[2021-02-03 01:59] sshiba commented on #19
Still working on getting Dex installed in a Target cluster deployed on Azure Cloud using “`clusterctl`”.
The `ClusterIssuer` issue from yesterday was due to using the `clusterctl cert-manager`.
Instead, it required the `jetstack cert-manager` as issue identified during the Airship Voyager DSU technical discussion.

Got a new error (see below) while deploying the certificates for Dex and will conti

[2021-02-04 01:51] sshiba commented on #19
Started the work for deploying Dex using the Helm Operator, as follow:
-	Created a new PS (https://review.opendev.org/c/airship/images/+/774028) that generates the Docker image to be used by the Helm Chart Collator
-	Updated the test site (az-cluster-test-site) to use Kustomize to patch the object KubeadmControlPlane for Target cluster API server configuration (see https://review.opendev.org/c/air

[2021-02-05 00:37] sshiba commented on #19
Today’s activity
-	Fixed PS (https://review.opendev.org/c/airship/images/+/774028), which image was not loading the Dex helm charts. Tested with Helm Collator service running on a K8S cluster.
-	Create the manifests (manifests/site/az-cluster-test-site/target/workload) for PS (https://review.opendev.org/c/airship/airshipctl/+/765629):
o	helm-operator – contains just the kustomization.yaml that ref

[2021-02-06 01:20] sshiba commented on #19
Dex implementation requires three patchsets: two of them are supporting patchsets and one for Dex itself:
-	[Dex Chart Collator - Quay.io Docker image](https://review.opendev.org/c/airship/images/+/774028): This supporting patchset is used to generate a Helm Chart Collator and “bake” Airship 2 workload helm charts. This particular patchset “bakes” the Dex helm charts.
-	[Helm Chart Collator - Airs

[2021-02-09 17:51] eratnch commented on #43
A WIP PS https://review.opendev.org/c/airship/treasuremap/+/774144

[2021-02-10 14:06] ak3216 opened #88 "Create reference implementation to build and push a Helm-Chart Collator image"
As an Airship user, I want to have a working example of the tooling needed to build & push a Helm-Chart Collator image for the Airship-Core type in Treasuremap, so that I have a solid foundation upon which to build HCC images for my own implementation needs.

Could leverage https://github.com/airshipit/images/blob/master/helm-chart-collator/examples/charts.yaml as the basis of the image definition

[2021-02-10 16:31] eratnch commented on #54
Please assign this issue to me. Thanks.

[2021-02-10 17:47] eratnch commented on #43
Calico policies with CRs of types `crd.projectcalico.org/v3` or `projectcalico.org/v3`  can't be deployed with `kubectl` with Calico Opensource. One needs to use `calicoctl` to deploy these CRs.
There's an open issue in  [projectcalico github](https://github.com/projectcalico/calico/issues/2923).

[2021-02-11 10:04] kumarlakshman commented on #27
assign to me

[2021-02-11 12:33] ak3216 commented on #27
@kumarlakshman all yours. Thanks.

[2021-02-11 15:07] StevTheDev commented on #55
This can be closed as a duplicate of #70

[2021-02-11 15:46] #55 closed

[2021-02-12 09:39] StevTheDev commented on #71
This phase entrypoint is created in [This PS for #67](https://review.opendev.org/c/airship/treasuremap/+/770709), but requires the composites from #83 and #69 ([PS here](https://review.opendev.org/c/airship/treasuremap/+/770710)) all to be merged before this issue can be marked complete.

[2021-02-12 09:41] StevTheDev commented on #83
This issue is WIP in the following PS:
- [Elasticsearch & Kibana Function Manifests](https://review.opendev.org/c/airship/treasuremap/+/771884)
- [Elasticsearch Ingest/Data Composite](https://review.opendev.org/c/airship/treasuremap/+/771894)
- Elasticsearch Exporter #60

[2021-02-12 15:25] gtsteffaniak commented on #53
assign to me

[2021-02-12 15:27] gtsteffaniak commented on #54
assign to me please

[2021-02-12 15:28] ak3216 commented on #53
@gtsteffaniak all yours!

[2021-02-12 15:30] ak3216 commented on #54
@gtsteffaniak done

[2021-02-16 16:02] manojkva opened #89 "Site doc validation fails"
On running tools/document/validate_site_docs.sh, airshipctl adds an additional “airshipctl” parameter which is leading to “no such file”  error.

During call to any of the airshipctl command, it looks like "airshipctl" is  appended in between as show in the below file location. This leads to no file error.

[code]
Log of validate_site_docs.sh
[code]

[2021-02-16 17:11] nagajagan opened #90 "Ping Latency Checkpoint"
Based on my investigations, one of the main issues I see with Airship openstack is the lack of tuning regarding the OVS, Openstack and Calico processes. I have observed many of these processes running on CPU reserved for virtual machines. It is important to note that most of these processes are actually related to networking. This is a wider problem that should be submitted to the Airship communit

[2021-02-16 17:15] nagajagan commented on #90
[att-5gc-irq-investigations.txt](https://github.com/airshipit/treasuremap/files/5990333/att-5gc-irq-investigations.txt)
[att-5gc-irq-investigations-example.txt](https://github.com/airshipit/treasuremap/files/5990334/att-5gc-irq-investigations-example.txt)

[2021-02-17 12:21] eak13 opened #91 "Manifests for Ericsson lab deployment"
As the deployment engineer for the Ericsson lab site, I want to have manifests created for the successful deployments of the lab using Airship 2, so that an engineer can deploy the baremetal site.

[2021-02-17 12:23] ak3216 opened #92 "Create Jenkins pipeline in Ericsson lab to automate the baremetal deployment"
As a user of the Ericsson lab deployed using Airship 2.0, I want to have a Jenkins pipeline to automate the baremetal lab deployment, so that this pipeline can run every night to deploy and validate the code. Also this job should allow on-demand deployment against PS to for baremetal verification.

[2021-02-17 12:43] ak3216 opened #93 "Github automation to add triage label to new issues"
Mirror the functionality in airshipctl repo to add `triage` label to new issues when they're created. By automating this, it will prevent new issues being missed during Flight Plan.

[2021-02-17 14:14] sshiba commented on #23
Please, assign this issue to me as I am already working on it as part of Dex support, where Helm collator is used as Helm repository containing the Dex charts.

[2021-02-17 15:28] jezogwza commented on #87
A possible implementation would be :
- Separate job that would run along with others
- Can be run before so that it can identify and flag functions that arent up to par.
- Should introduce some sort of validation of a function that incorporates :
-      Manifest trivial rendering issues
-      Deployment of the function
-      Eventually can incorporate the health of the function deployed

In the

[2021-02-17 15:35] jezogwza commented on #89
Gate jobs using this script appear to be passing, can you elaborate as to when you are experiencing this.
And the steps to reproduce this.

[2021-02-17 15:36] ak3216 commented on #91
Initial baremetal deployment happening in the R2 lab. This will allow us to extend that to test different types and/or different baremetal scenarios, but is not required for the V2 GA.

[2021-02-17 15:36] ak3216 commented on #92
Initial baremetal deployment happening in the R2 lab. This will allow us to extend that to test different types and/or different baremetal scenarios, but is not required for the V2 GA.

[2021-02-17 15:50] jezogwza commented on #93
done

[2021-02-17 15:50] #93 closed

[2021-02-17 23:45] mattmceuen commented on #89
The gate is passing for airshipctl, but is failing for treasuremap.  Ruslan A worked on these scripts recently and if he could take a look at it he might spot the issue quickly (I can't find Ruslan's github ID)

[2021-02-18 00:43] ak3216 commented on #89
@raliev12 any chance you can take a look?

[2021-02-18 16:37] StevTheDev commented on #63
Hello again @sb1975, the PS which added this function has [been merged](https://review.opendev.org/c/airship/treasuremap/+/769095).

[2021-02-18 16:37] StevTheDev commented on #51
Hello again @sb1975, the PS which added this function has [been merged](https://review.opendev.org/c/airship/treasuremap/+/769095).

[2021-02-19 04:29] onlysource opened #94 "Keepalived VRRP for K8s Ingress over host management/OAM interface"
**Problem description (if applicable)**
Network Cloud

**Proposed change**
Currently, k8s service-vips are dependent on  CNI to announce over BGP. Moving away this service-vip to the management (OAM) interface could be ideal, eliminating any CNI dependency. The service-vips can be configured as floating-ip between all K8s master nodes, with VRRP.

**Potential impacts**
Potential security or perfor

[2021-02-19 15:23] sb1975 commented on #63
Closed as code merged

[2021-02-19 15:23] #63 closed

[2021-02-19 15:24] sb1975 commented on #51
Closing since code merged.

[2021-02-19 15:24] #51 closed

[2021-02-19 22:39] rkjain commented on #91
Hi, I will be happy to help out here, and then may be look at #92 as well :)

[2021-02-19 23:00] eratnch commented on #47
I can look at this one if nobody is assigned to it.

[2021-02-20 02:33] ak3216 commented on #91
@rkjain it's yours. Please comment in #92 as well so I can assign you.

[2021-02-20 03:29] rkjain commented on #92
I can take this one :)

[2021-02-20 04:56] ak3216 commented on #92
@rkjain yours

[2021-02-22 15:10] sirajyasin commented on #78
This issue can be closed as the related PS ( https://review.opendev.org/c/airship/treasuremap/+/772756) is merged

[2021-02-22 15:26] ak3216 commented on #78
closing per code merge

[2021-02-22 15:26] #78 closed

[2021-02-22 16:23] #72 closed

[2021-02-22 17:41] raliev12 commented on #89
Validation scripts were configured properly for airshipctl repository, however there is need to adjust some of variables to run validation against treasuremap sites. It was already done [here](https://review.opendev.org/c/airship/treasuremap/+/776473/6/tools/validate_docs), but now there is an issue with secret generation, which is not related to validation script itself.

[2021-02-22 20:22] ak3216 opened #95 "Align Treasuremap with recent Airshipctl changes"
Need to align Treasuremap manifests to support recent changes to airshipctl for secret encryption/decryption as part of https://github.com/airshipit/airshipctl/issues/379.

Dependent airshipctl changes:
https://review.opendev.org/c/airship/airshipctl/+/766484
https://review.opendev.org/c/airship/airshipctl/+/773730

[2021-02-22 21:34] sirajyasin commented on #95
@ak3216
I can work on this issue. can you please assign this to me

[2021-02-23 01:50] eratnch opened #96 "Deployment of test-site fails in treasuremap"
**Describe the bug**
The job `airship-treasuremap-deploy-test-site` fails with below error

[code]
The error appears to be originated from the the task `https://github.com/airshipit/treasuremap/blob/v2/playbooks/get-vm-config.yaml` and the following shell command fails in zuul.

[code]

**Steps To Reproduce**
The job `airship-treasuremap-deploy-test-site` is triggered when a new PS is pushed to tr

[2021-02-23 15:07] ak3216 commented on #39
Closing as this work can be done downstream.

[2021-02-23 15:07] #39 closed

[2021-02-23 15:07] ak3216 commented on #38
Closing as this work can be done downstream.

[2021-02-23 15:07] #38 closed

[2021-02-23 15:29] ak3216 commented on #96
@sirajyasin is this the same issue you're dealing with in #95 or something new? Thanks.

[2021-02-23 15:38] eratnch commented on #43
Function with sample NW policies is added in [this PS](https://review.opendev.org/c/airship/treasuremap/+/776840)
Wiring the function into virtual-network-cloud site is added in [this PS](https://review.opendev.org/c/airship/treasuremap/+/776841)

[2021-02-23 15:51] niharikabhavaraju commented on #34
please assign it to me

[2021-02-23 16:13] sirajyasin commented on #96
@ak3216 , yes it is related. But we also had other failures with worker and workload for which i have open PS (https://review.opendev.org/c/airship/treasuremap/+/770446).

But for this to proceed we need to resolve issue #95 first.

[2021-02-24 17:16] ak3216 opened #97 "Rename network-cloud type to multi-tenant type"
In an effort to include sub-cluster support functions, the network-core type needs to be renamed multi-tenant and all impacted manifests should be updated to reference multi-tenant vs. network-cloud.

A new network-cloud type will be created in the future which will provide Open Stack Helm support but will not necessarily include the sub-cluster functionality.

https://github.com/airshipit/treasur

[2021-02-24 17:23] ak3216 opened #98 "Create new network-cloud type definition"
With #97 changing the current network-cloud type to the multi-tenant type, there will be a need to create a new network-cloud type. At a minimum, it will need to include deploying Open Stack Helm though additional components should be evaluated for inclusion when this story is worked.

**This is a future type and would most likely be included post-V2 unless there's an urgent need sooner**

[2021-02-24 18:10] lb4368 opened #99 "Include hostconfig-operator in airship-core type"
**Proposed change**
The hostconfig-operator manifest function should be included as part of the airship-core type manifest.  The host-config-operator manifest function is currently included directly from the test-site target initinfra phase manifests.  It should be included as part of the airship-core manifest type's target initinfra phase so that sites inheriting the airship-core type will includ

[2021-02-24 18:37] lb4368 opened #100 "Need Process to Keep airshipctl and treasuremap versions aligned"
**Problem description**
Sometimes updates made in airshipctl can cause problems in treasuremap builds if corresponding updates are not made.

**Proposed change**
1) Create a Treasuremap build to nightly pin airshipctl version to keep a stable working version of treasuremap.
2) Create a gate to validate that its safe to update airshipctl.

[2021-02-25 02:41] manojkva commented on #97
Please assign it to me. Thanks

[2021-02-25 12:30] ak3216 commented on #97
@manojkva all yours!

[2021-02-25 20:12] eratnch commented on #99
[Here's](https://review.opendev.org/c/airship/treasuremap/+/777665) the PS that addresses this issue.

[2021-02-25 20:49] lb4368 commented on #99
@eratnch I am assigning this to you since you have created the patch set for this.  Would you please assign a size of effort for this?  S/M/L

[2021-02-25 22:24] nagajagan commented on #90
Not sure how this issues is closed by me, its a still open issues issues there is no progress on this.

[2021-02-25 23:48] eratnch commented on #99
@lb4368 thanks.
Size should be S.

[2021-02-26 01:06] sshiba commented on #82
I can work on this issue if no one has done it yet. Please, let me know if I can be assigned to this issue.

[2021-02-26 13:00] ak3216 commented on #82
@sshiba all yours. Please make sure you let us know the tshirt size so we can add the label. Thanks!

[2021-02-26 14:30] sshiba commented on #82
Is that ok to say Large as not sure the effort level yet? Will give a better estimation later.

[2021-02-26 14:50] ak3216 commented on #82
@sshiba that's fine. We can always tweak as needed. Set to lg for now

[2021-02-27 02:46] manojkva commented on #94
Please assign to me. Thanks

[2021-03-01 13:21] ak3216 commented on #94
@manojkva all yours. Please make sure you provide a t-shirt size once you have a chance to take a look & we'll update. Thanks!

[2021-03-01 17:13] sirajyasin commented on #100
I can start working on this issue

[2021-03-01 20:57] seaneagan commented on #100
Alternatively, instead of nightly updating the treasuremap pin ( 1. ), we could use the results of ( 2. ) as a release gate for publishing a new semantic version of airshipctl e.g. `2.0.6`. We can then pin to these patch versions explicitly, or we can pin to a minor e.g. `2.0 or major e.g. `2` version, as implemented in https://review.opendev.org/c/airship/airshipctl/+/762924/ which means we will

[2021-03-02 14:02] ak3216 opened #101 "test"

[2021-03-02 14:02] #101 closed

[2021-03-02 14:03] ak3216 commented on #101
checking to see if template was updated.

[2021-03-02 15:52] sirajyasin commented on #95
@ak3216 , Treasuremap is aligned with latest ( Till Feb 26th ) airshipctl and deployment is tested working in jenkins and local setup using this PS https://review.opendev.org/c/airship/treasuremap/+/770446

There is another issue to create version pinning for airshipctl in treasuremap. So this can be marked closed.

[2021-03-02 15:58] ak3216 commented on #95
Closing per updates that Treasuremap has been synced thru 2/26.

[2021-03-02 15:58] #95 closed

[2021-03-02 16:00] sirajyasin commented on #77
@ak3216 , After the recent manifest alignment with airshipctl, test-site deployment is validated in Third party gating and in local dev setup. So this issue can be marked completed.

[2021-03-02 16:00] ak3216 commented on #77
Closing per recent updates noted above.

[2021-03-02 16:00] #77 closed

[2021-03-02 17:07] manojkva commented on #97
Fix : https://review.opendev.org/c/airship/treasuremap/+/777526

[2021-03-02 21:33] ak3216 commented on #83
These functions should be included as part of the airship-core type workload

[2021-03-02 21:37] ak3216 commented on #54
Please ensure that this is included in the airship-core type workload deployment

[2021-03-02 21:38] ak3216 commented on #53
Please ensure that this is included in the airship-core type workload deployment

[2021-03-02 21:39] ak3216 commented on #52
Please ensure that this is included in the airship-core type workload deployment

[2021-03-02 21:39] ak3216 commented on #51
Please ensure that this is included in the airship-core type workload deployment

[2021-03-02 21:40] ak3216 commented on #43
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:41] ak3216 commented on #32
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:41] ak3216 commented on #31
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:42] ak3216 commented on #34
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:42] ak3216 commented on #27
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:43] ak3216 commented on #23
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:43] ak3216 commented on #19
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:43] ak3216 commented on #30
Please ensure that this is included in the airship-core type deployment

[2021-03-02 21:47] ak3216 opened #102 "Include Host Config Operator, NGINX & Tigera Operator in airship-core type deployment"
Host Config Operator, NGINX Ingress Controller & the Tigera Operator functions need to be included in the airship-core type deployment. These three functions have already been built in Treasuremap, but they have not explicitly been included in a type.

Host Config Operator & Tigera Operator should inherit from the airshipctl implementation.

[2021-03-02 21:53] ak3216 commented on #99
closing as a dupe of #99 and nginx & tigera already part of airship-core

[2021-03-02 21:53] ak3216 commented on #99
closed wrong issue

[2021-03-02 21:54] ak3216 commented on #102
closing as a dupe of #99 and nginx & tigera already part of airship-core

[2021-03-02 21:54] #102 closed

[2021-03-02 21:57] ak3216 opened #103 "Create sub-cluster networking catalog for multi-tenant type"
As part of building out the sub-cluster implementation in the multi-tenant type, a sub-cluster networking catalog for all will need to be created which will apply network definitions and configurations.

The subcluster networking catalog contains the networking definitions for all subclusters.  Each subcluster's networking definitions are listed sequentially in this catalog and contain information

[2021-03-02 22:04] ak3216 commented on #103
https://gerrit.mtn5.cci.att.com/c/nc-release/+/90141/2/manifests/type/cloud-harbor/shared/catalogues/subcluster-networking.yaml < this is a downstream model upon which the catalog can be based.

[2021-03-02 22:41] lb4368 opened #104 "Deploy Virtual Node Operator (ViNO) via Airship Phase in multi-tenant type"
**Problem description**
As an operator, I want to deploy the Virtual Node Operator (ViNO) as part of a multi-tenant site during an airshipctl phase, so that there is support for defining sub-clusters in later phase(s).

**Proposed change**
This involves delivering ViNO CRD/operator to the target/management cluster as part of an airshipctl phase (possibly initinfra). Upon completion of this phase t

[2021-03-02 22:54] lb4368 opened #105 "Deliver Support Infra Provider (SIP) Cluster CRD/Operator via Airship Phase in multi-tenant Type"
**Problem description**
As an operator, I want to deploy the SIP Operator as part of a multi-tenant site during an airshipctl phase, so that there is support for defining sub-clusters in later phase(s).

**Proposed change**
This involves delivering SIP CRD/operator to the target/management cluster as part of an airshipctl phase (possibly initinfra).  Upon completion of this phase the operator is d

[2021-03-02 23:38] eratnch commented on #103
I can start on this if nobody else already has. Please let me know. Thanks!

[2021-03-03 12:36] lb4368 commented on #103
@eratnch  - You are assigned.  Thanks!

[2021-03-03 13:08] lb4368 commented on #97
@manojkva - Patchset is merged.  Can we close this issue?

[2021-03-03 13:20] lb4368 opened #106 "Deliver ViNO CR in multi-tenant type Airship Phase"
**Problem description**
As an operator, I want to deliver a configured ViNO CR within an Airship phase of the multi-tenant site type delivery, so that I can define VMs based upon VM flavors/templates for use as nodes in Kubernetes sub-clusters.

**Proposed change**
The ViNO CR may be delivered as part of a target cluster workload phase.  Applying one or more ViNO CRs will indicate to the ViNO oper

[2021-03-03 13:47] lb4368 opened #107 "Create multi-tenant Type Sample Sub-cluster"
**Problem description**
As an operator, I want to define manifest phase(s) for delivery of a sample Kubernetes sub-cluster to the multi-tenant site type, so that this sample may be used as a guide for creating multiple sub-clusters in sites inheriting the multi-tenant site type.

**Proposed change**
Create the initial manifests for a sub-cluster within the multi-tenant site type  This also has a d

[2021-03-03 13:50] lb4368 commented on #107
Potential folder design within multi-tenant site type

**manifests/type/cloud-harbor/phases**

This folder contains the kustomization.yaml configuration and replacements to add Airship 2 phases for the delivery of the individual sub-clusters.

**manifests/type/cloud-harbor/subclusters/<sub-cluster name>/<phase>**

These folders contain the kustomization.yaml  configuration and replacements for the

[2021-03-03 15:17] lb4368 commented on #97
Patchset merged so closing.

[2021-03-03 15:17] #97 closed

[2021-03-03 15:35] sirajyasin commented on #96
@ak3216 , This issue also can be marked closed. Now that we have success deployment of treasuremap(tes-site) with commit locked versions of airshipctl.

[2021-03-03 15:37] lb4368 commented on #73
@sb1975 Is there still an issue here?  Can this be closed?

[2021-03-03 15:57] lb4368 commented on #96
Closing per above comment

[2021-03-03 15:57] #96 closed

[2021-03-05 04:35] digambar15 commented on #104
Please assign this issue to me.

[2021-03-05 12:22] ak3216 commented on #104
@digambar15 all yours, please let us know t-shirt size so we can add. Thanks.

[2021-03-05 22:24] StevTheDev commented on #70
Hey @sb1975, the change for this has been merged! 🎉

https://review.opendev.org/c/airship/treasuremap/+/769096

[2021-03-09 01:24] sshiba commented on #23
This function has been merged in airshipctl project.
As requested, it has been added to airship-core but it has not been merged yet.

[2021-03-09 21:05] sirajyasin commented on #100
@seaneagan , Thanks for your suggestion to use the semantic version of airshipctl. The concern is, it is not just about uplifting treasuremap with airshipctl version, it should also be accompanied by the respective manifest changes in treasuremap to align with latest version of airshipctl. So the commit should have airshipctl version uplift together with the respective manifest changes in treasure

[2021-03-09 21:11] sirajyasin commented on #100
We have created a jenkins nightly job to validate the test-site of treasuremap using latest of treasuremap v2 with latest from airshipctl master.

https://jenkins.nc.opensource.att.com/job/development/job/Treasuremap/job/TreasuremapV2-AirshipctlMaster/

Success Build: Confirms that the latest commit from airshipctl for validation is compatible with treasuremap v2
Failure: Latest changes of Airship

[2021-03-10 20:12] ak3216 commented on #31
Closing per 3/10 flight plan. Work will just be done downstream for existing PSPs & will pursue #86 as the upstream solution

[2021-03-10 20:12] #31 closed

[2021-03-10 21:55] matthew-fuller commented on #47
Please assign this issue to me.

[2021-03-10 22:37] matthew-fuller commented on #47
Actually, scratch that. This was moved to 'future'.

[2021-03-11 02:32] #70 closed

[2021-03-11 15:13] sb1975 commented on #73
Didnt check recently, will close for now.

[2021-03-11 15:13] #73 closed

[2021-03-11 15:41] drewwalters96 opened #108 "Update to latest airshipctl reference"
The current airshipctl reference is two weeks old, and the documents in treasuremap are no longer compatible with the master branch of Airshipctl. We need to advance this reference and correct any document issues to take advantage of the newest airshipctl features and exported functions.

[2021-03-11 17:19] matthew-fuller commented on #89
Please assign this to me.

[2021-03-11 17:57] ak3216 commented on #89
@matthew-fuller all yours, just lmk what t-shirt you want to add once you've had a chance to assess. Thanks!

[2021-03-11 20:36] matthew-fuller commented on #89
It looks like most of the issues related to this change have already been solved. I just made a small change to modify the default value for `MANIFEST_ROOT` to `dirname ${PWD}` so the script can be run locally from the treasuremap directory without needing to explicitly set the root first. That was really the only issue I ran into when trying to run the script locally.
https://review.opendev.org/c

[2021-03-11 22:11] drewwalters96 commented on #82
@sshiba and I talked offline, and I will take this issue so that he can focus his full attention on the implementation of Dex. I will also work this with #107

[2021-03-11 22:17] drewwalters96 opened #109 "Fix ingress function implementation"
We have an ingress function in Treasuremap and another ingress function in airshipctl. The ingress function in airshipctl is not considered to be production-ready and is intended for gating patches in that repository. Yet, we deploy that function in treasuremap and ignore the function defined here.

We need to fix the [airship-core/target/workload entrypoint](https://github.com/airshipit/treasurem

[2021-03-12 14:15] #89 closed

[2021-03-13 00:43] mf4716 commented on #79
@rkjain - is there a status?  Open patch-set?

[2021-03-15 15:27] rkjain commented on #79
The conformance tests are running for docker provider as periodic jobs (every day) in STL lab.

https://jenkins.nc.opensource.att.com/job/conformance/job/capd_conformance/61/console

However, running  conformance tests for baremetal is still a WIP. Once they are done, we can also set them as periodic.

[2021-03-15 15:54] mf4716 commented on #52
@gtsteffaniak - hey Graham, is there a status on this issue?

[2021-03-15 15:55] sirajyasin commented on #100
@lb4368 , can we mark this issue completed with the above pipelines working to validate the code stability of treasuremap v2 and treasuremap v2 compatibility with airshictl master

[2021-03-15 15:57] gtsteffaniak commented on #53
current PS https://review.opendev.org/c/airship/treasuremap/+/779915

[2021-03-15 15:58] gtsteffaniak commented on #52
@mf4716 Last week we have a working PS for this that we are hoping to merge once its ready :
https://review.opendev.org/c/airship/treasuremap/+/779915

[2021-03-15 17:05] lb4368 commented on #100
Closing per implementation above

[2021-03-15 17:05] #100 closed

[2021-03-15 17:56] drewwalters96 commented on #100
Have we automated this yet? It's great that we have a job that's validating against the latest airshipctl builds, but if nothing is actually doing the pinning, the onus is on a developer to remember check the nightly builds and move this pin. In the case of success, it would be a lot easier to merge a gerrit change, like we had in Airship 1.

[2021-03-15 18:05] mf4716 commented on #23
@sshiba - Sidney, is there an update?  When do we think we can close this out?

[2021-03-15 18:05] mf4716 commented on #30
@vs422h - Vladimir, is there an update?  When do we think we can close this out?

[2021-03-15 18:15] mf4716 commented on #19
@sshiba - Sidney, any update to this issue?  Are we close(r) to finishing?

[2021-03-15 18:28] mf4716 commented on #94
@manojkva - Manoj, per our Tech Dive today, are we close(r) to finishing this issue?  Please lean in to ensure we close this issue ASAP.

[2021-03-15 18:35] sirajyasin commented on #100
@drewwalters96 , Thanks for your feedback. I agree, for success scenario we can automate to push a gerrit commit with the airshipctl_ref uplifted in treasuremap.

I will try to implement that in the pipeline. If required will track that work with a new issue

[2021-03-15 18:42] drewwalters96 commented on #100
Thanks @sirajyasin. I don't think it's something we need to solve today, but maybe after the release. In the case of an error, we could also file a GitHub issue so that someone can fix the incompatibilities.

[2021-03-15 18:59] mf4716 commented on #80
@eratnch - Ratnopam, are we close(r) to finishing?

[2021-03-15 19:14] rkjain commented on #79
@mf4716 - Since this user story talks about setting the conformance job as periodic, and does not mention the provider, may be we can close the issue (as this is already been done for docker provider).  We can continue working on #80 (running conformance for baremetal, and set them as periodic when they are ready )  On the progress of #80, I will check with Ratnopam on the latest update for the is

[2021-03-15 20:03] eratnch commented on #80
@mf4716, the conformance test job on bare-metal stl3 is created at https://jenkins.nc.opensource.att.com/job/conformance/job/conformance_bare_metal_stl3/.

However running the conformance test on stl3 cluster timed out and increasing the timeout didn't help.
There are some pod-security policies that sonobuoy creates while running the tests that are not getting cleaned up properly.

Please check fo

[2021-03-15 20:49] ak3216 commented on #79
@mf4716 @mattmceuen if we're good with what Rishabh has posted, I can close this one out.

[2021-03-15 20:58] StevTheDev commented on #67
Happy to say that [the PS](https://review.opendev.org/c/airship/treasuremap/+/770709) has merged!

[2021-03-15 21:01] StevTheDev commented on #71
The 'lma-stack' phase is now present in treasuremap v2's test-site/target cluster, and deploys the monitoring stack composite (#67).

These PS add the other composites which will complete this phase:
- [Treasuremap Storage for LMA composite](https://review.opendev.org/c/airship/treasuremap/+/770710/21) (#69)
- [Treasuremap Elastic-Stack composite](https://review.opendev.org/c/airship/treasuremap/+

[2021-03-15 23:51] mf4716 commented on #103
@eratnch - Ratnopam, is there an updated status?

[2021-03-15 23:58] mf4716 commented on #34
@niharikabhavaraju - Niharika, is there an updated status, and are we close(r) to finishing?

[2021-03-16 12:47] manojkva commented on #94
Review ready PS = https://review.opendev.org/c/airship/treasuremap/+/778953

[2021-03-16 14:54] #67 closed

[2021-03-16 15:10] sb1975 commented on #68
PS Merged - https://review.opendev.org/c/airship/treasuremap/+/770710

[2021-03-16 15:10] #68 closed

[2021-03-16 16:20] eratnch commented on #103
Hi @mf4716, I created a [PS](https://review.opendev.org/c/airship/treasuremap/+/779889) for this.

[2021-03-16 16:34] sreejithpunnapuzha commented on #40
I have looked into airshipctl and i dont see any dns entries that need to be registered. i have done the work to generate the dns configuration and start the container with that configuration. if i can get the list of dns entries that need to be registered, i can make the final changes and push the commit

[2021-03-16 21:48] sshiba commented on #23
Rechecked the patchset and Zuul test is passing. It is ready for review.

[2021-03-16 21:57] sshiba commented on #19
After many re-structuring of implementation, the patchset (https://review.opendev.org/c/airship/treasuremap/+/780123) implementing issue #19 has been reviewed and being merged.

[2021-03-16 22:07] lb4368 commented on #19
@sshiba I was just looking at your patchset above.  You have added Dex to the multi-tenant type.  I believe we want Dex as part of the airship-core type which would be inherited by the multi-tenant type.  Is there a plan to update this?

[2021-03-17 12:27] mattmceuen commented on #79
Yep that sounds good @ak3216 , we can close it - the intent was to make what we already have get run periodically.  @rkjain 's plan of scheduling baremetal appropriately after it's ready is good.

[2021-03-17 12:28] #79 closed

[2021-03-17 14:50] jezogwza commented on #108
discussing if issue https://github.com/airshipit/treasuremap/issues/100 was suppose to solve this

[2021-03-17 14:51] drewwalters96 commented on #108
The pinned [commit](https://github.com/airshipit/treasuremap/blob/v2/zuul.d/jobs.yaml#L70) is from [21 days ago](https://github.com/airshipit/airshipctl/tree/5820e22d9f436df2f93d8b71286b2ad0492279bc)

[2021-03-17 17:35] drewwalters96 commented on #105
Still in need of reviews:

https://review.opendev.org/c/airship/treasuremap/+/779517
https://review.opendev.org/c/airship/treasuremap/+/779518
https://review.opendev.org/c/airship/treasuremap/+/780121
https://review.opendev.org/c/airship/treasuremap/+/779519/

[2021-03-17 20:29] matthew-fuller commented on #50
Please assign this to me.

[2021-03-17 20:35] ak3216 commented on #50
@matthew-fuller all yours

[2021-03-17 20:47] mattmceuen commented on #84
I think HA for the apiserver/ingress in general should be required for Airship 2.0, and that's being worked under a different issue now.  I think alternate load balancer configurations (like a standalone nodebalancer node) could be revisited post-Airship 2.0.

[2021-03-17 21:20] sshiba commented on #84
I think this issue could be broken into sub-issues and each person working on the sub-issue.
Also, need more detailed description of how the load-balancer is expected to be used. For example:
- Is this load-balancer going to be used when a service of type "LoadBalancer" is deployed?
- Is a GCP load balancer being used only with a GCP target cluster or with any other provider's cluster, e.g., Barem

[2021-03-17 22:34] sshiba commented on #19
I recall being asked to add for multi-tenant while didn't see the comment requesting to add it to airship-core.
Will need to create a new patchset to address this change.

[2021-03-17 22:56] sshiba commented on #19
Created the patchset https://review.opendev.org/c/airship/treasuremap/+/781172 moving the OIDC API server kustomization to airship-core.

[2021-03-18 02:14] teoyaomiqui commented on #43
@eratnch according to the issue you mentioned, they seem to support these configurations but with a different version:
https://github.com/projectcalico/calico/issues/2923#issuecomment-801558258

[2021-03-18 06:10] matthew-fuller commented on #50
Added to design call agenda for 3/18.

[2021-03-18 11:09] manojkva commented on #32
Review ready PS = https://review.opendev.org/c/airship/treasuremap/+/775557

[2021-03-18 13:36] eratnch commented on #43
Hi @ak3216, does the n/w policy need to be included in manifest/function(as per the original description above) or only in the airship-core type? Can you please confirm. Thanks

[2021-03-18 13:51] eratnch commented on #43
Hi @teoyaomiqui, according to the comment mentioned in the issue, kubectl only supports v1 api resources whereas n/w policies in airship is using v3 which is supported by calicoctl.

[2021-03-18 14:11] mattmceuen commented on #43
@eratnch I'm thinking the answer would be "both":

1. Let's put the definitions in a manifest/function, so that they're findable, reusable, easily copyable.  If the manifests are reusable  in real-life deployments (my understanding is that they are) then I think the current "network-policy" function name is good; otherwise we'd want to use something like "network-policy-example"
2. The function sh

[2021-03-18 14:13] ak3216 commented on #43
workload works for me

[2021-03-18 14:27] eratnch commented on #43
Thanks @mattmceuen , @ak3216.

[2021-03-18 15:57] eratnch commented on #103
@ak3216, PS https://review.opendev.org/c/airship/treasuremap/+/779889 is ready for review.

[2021-03-18 21:05] drewwalters96 opened #110 "Document validation job does not used airshipctl reference"
The document validation job of airshipctl needs to use the same pinned reference of airshipctl as the deployment jobs. Currently, it validates documents against master.

[2021-03-18 21:14] drewwalters96 commented on #110
https://review.opendev.org/c/airship/treasuremap/+/781570

[2021-03-18 23:11] mf4716 commented on #27
PS in review is: https://review.opendev.org/c/airship/treasuremap/+/776175

[2021-03-19 15:18] eratnch commented on #43
[PS](https://review.opendev.org/c/airship/treasuremap/+/778359) ready for review, thanks.

[2021-03-22 16:27] manojkva commented on #109
Please assign it to me.

[2021-03-22 20:39] rkjain commented on #91
I have got one machine with 128G memory, 768G storage to test airshipctl. The rest of the lab still requires networking to be completed by jan erik in order for us to have a similar setup to STL-3 lab, and get the manifests in place. Till the lab is ready, I have atleast reached to the point where I am able to get a 2 node bare metal cluster running on the given machine. In the meantime, I will wo

[2021-03-23 12:17] manojkva commented on #109
Review PS = https://review.opendev.org/c/airship/treasuremap/+/782473

[2021-03-23 14:10] digambar15 commented on #104
PS Created https://review.opendev.org/c/airship/treasuremap/+/781228. Got +2 from matt and +1 from Ian.

[2021-03-23 21:27] matthew-fuller commented on #50
Per today's design call (3/23) the following was decided:

- Move the 'v2' branch to 'master
- Move the current 'master' branch to a new 'v1.9' branch
- Keep the 'v1.8' branch as-is

These changes will occur on, or slightly after, April 1, 2021. I've created a patch for the v2 and master branches to amend the README files with a notice regarding the upcoming changes, and I'll be sending out an ema

[2021-03-23 21:44] drewwalters96 opened #111 "Replace minio with minio operator"
Deprecation coming next month: https://github.com/minio/charts/tree/master/minio

[2021-03-24 13:42] #105 closed

[2021-03-24 13:52] ak3216 opened #112 "True up treasuremap base version catalog"
**Problem description (if applicable)**
There may be additional image references in the manifests which do not have entries in the versions catalog. We need to true up the catalog to account for any missing images.

**Proposed change**
- Search for all the images in use in the manifests.
- Compare against the https://github.com/airshipit/airshipctl/blob/master/manifests/function/airshipctl-base-ca

[2021-03-25 19:51] eratnch commented on #80
The [Jenkins job](https://jenkins.nc.opensource.att.com/job/conformance/job/conformance_bare_metal_stl3/77/console) for Conformance tests on stl3 cluster is ready. Frequency of run is set to weekly.

This issue can be closed.

[2021-03-25 19:55] ak3216 commented on #80
Closing per above comment.

[2021-03-25 19:55] #80 closed

[2021-03-25 21:24] seaneagan opened #113 "Github Release Automation"
The release automation flow is now complete for airshipctl / krm functions:
https://github.com/airshipit/airshipctl/issues/354

We should implement this for treasuremap as well, as far as i know the release notes / github release generation is the only automation that needs to occur. Anything else needed?

We may want to add some boilerplate or link to a blog post / documentation, but this can be

[2021-03-26 14:31] seaneagan opened #114 "Document release process"
We should document the release process in the developer documentation for both minor and patch releases to drive consistency, efficiency, and allow anyone to easily assist in the process. An initial take on the process is discussed here:
https://github.com/airshipit/airshipctl/issues/354#issuecomment-807012049

We could start with the above proposal (with any tweaks necessary) and iterate on it as

[2021-03-26 14:41] seaneagan opened #115 "Add github issue templates"
This will help drive up the quality of github issues by including issue labels (triage, enhancement, bug) and other relevant context.

This will be necessary for example to ensure we can generate quality release notes (#113).

[2021-03-26 14:50] ak3216 commented on #115
@seaneagan they were there, but I think @jezogwza 's patchset with them didn't merge so there's several projects where this fell off including AirshipUI, Charts & hostconfig-operator. SIP, ViNO & Images still had the templates as of Wednesday, but I've not checked them since.

[2021-03-26 15:03] drewwalters96 opened #116 "Disassociate airship-core and multi-tenant types"
Currently, the multi-tenant type inherits from the airship-core type. This poses a challenge for deploying LMA components as a sub-cluster: since the multi-tenant type inherits the airship-core target cluster workload, the multi-tenant type would redundantly deploy LMA components to the target cluster AND the LMA sub-cluster. Additionally, inheritance of a type by another type is an unusual paradi

[2021-03-26 15:16] lb4368 commented on #115
There is @jezogwza patchset here related to this:  https://review.opendev.org/c/airship/treasuremap/+/778508

[2021-03-26 15:17] drewwalters96 opened #117 "Consolidate LMA phases at the type level"
There are LMA phases at the site-level to work around airshipit/airshipctl#474. To save on deployment time, we should try consolidating the number of phases, and we should move them to the type level so they can be easily inherited by new sites.

**Proposal:**

1. Add the LMA composites/operators to the `airship-core` workload phase.
2. Create a `workload-config` phase to host the LMA custom resou

[2021-03-26 15:33] mf4716 commented on #94
PS has been merged.  @ak3216 , @manojkva  can this issue be closed?

[2021-03-26 15:35] drewwalters96 opened #118 "LMA sub-cluster for multi-tenant type"
Once SIP and ViNO are integrated in Treasuremap, we should demonstrate how LMA can be deployed as a sub-cluster. In order to do that, the components bundled in the current `lma-infra` phase should be deployed to the target cluster, and the rest should be delivered to the LMA sub-cluster. We should wait though until the sub-clusters are re-aligned as suggested in #117

[2021-03-26 15:42] manojkva commented on #94
Closes: #94

[2021-03-26 15:43] manojkva commented on #94
Yes. It could be closed.

[2021-03-26 15:44] ak3216 commented on #94
Closing per above

[2021-03-26 15:44] #94 closed

[2021-03-26 17:00] sshiba commented on #19
https://review.opendev.org/c/airship/treasuremap/+/781172 has been merged.
This issue can be closed.

[2021-03-26 17:43] manojkva commented on #32
Could be closed. PS = https://review.opendev.org/c/airship/treasuremap/+/775557 merged.

[2021-03-26 17:45] manojkva commented on #32
Could be closed.PS https://review.opendev.org/c/airship/treasuremap/+/775557 merged.

[2021-03-29 14:45] manojkva commented on #109
This could be closed. PS = https://review.opendev.org/c/airship/treasuremap/+/782473 merged.

[2021-03-29 14:51] ak3216 commented on #109
@manojkva, closing it per your comment. In the future if you add `Closes: xxx` where xxx is the issue number, the Airshipbot will close it automatically on merge. Thanks!

[2021-03-29 21:27] #109 closed

[2021-03-29 21:28] lb4368 commented on #32
Closing per comment above

[2021-03-29 21:28] #32 closed

[2021-03-29 21:31] lb4368 commented on #43
@eratnch Since patchset above is merged, can this be closed?

[2021-03-29 22:04] eratnch commented on #43
@lb4368, I think it would be good if we can merge PS https://review.opendev.org/c/airship/treasuremap/+/783131 and then close this. This is because the PS https://review.opendev.org/c/airship/treasuremap/+/783131 adds the n/w policy overrides in `multi-tenant` type as was discussed in a design discussion.

[2021-03-29 23:25] lb4368 commented on #99
PS https://review.opendev.org/c/airship/treasuremap/+/777665 is merged.  Closing this.

[2021-03-29 23:25] #99 closed

[2021-03-30 15:16] ak3216 opened #119 "Define phase to apply Calico network policies"
Define a custom phase for the airship-core type to implement the Calico network policies defined in #43. It should use the generic container leveraging calicoctl being defined in https://github.com/airshipit/airshipctl/issues/494.

[2021-03-30 16:20] eratnch commented on #43
@lb4368, @ak3216 this issue can be closed.

[2021-03-30 16:23] ak3216 commented on #43
Closing per above. #119 will implement the phase to deliver.

[2021-03-30 16:23] #43 closed

[2021-03-30 16:28] eratnch commented on #119
Please assign this issue to me. Thanks.

[2021-03-30 16:54] ak3216 opened #120 "Documentation Updates for v2.0"
This is a general catch-all issue to support any patchsets which will provide documentation updates needed for v2.0.

[2021-03-30 18:11] mf4716 commented on #50
@matthew-fuller - both respective PSs have merged.  Okay to leave it open until the actual work is implemented?
Related patches:
v2: https://review.opendev.org/c/airship/treasuremap/+/782601
master: https://review.opendev.org/c/airship/treasuremap/+/782604

[2021-03-31 00:52] sshiba commented on #23
https://review.opendev.org/c/airship/treasuremap/+/779413 has been merged. This issue can be now closed.

[2021-03-31 01:31] ak3216 commented on #23
Closing per code merge

[2021-03-31 01:31] #23 closed

[2021-03-31 01:37] pramchan commented on #82
Is Sub-Cluster  ha aware? - Referring to https://review.opendev.org/c/airship/treasuremap/+/779889/20

[2021-03-31 11:23] ak3216 commented on #108
https://review.opendev.org/c/airship/treasuremap/+/778728 has merged, can we close this?

[2021-03-31 13:08] ak3216 commented on #108
Closing per merge of https://review.opendev.org/c/airship/treasuremap/+/778728

[2021-03-31 13:08] #108 closed

[2021-03-31 21:07] seaneagan commented on #50
@matthew-fuller: after the branch shuffle, we will want to move the `.github` directory content from the `v1.9` branch (back) to `master`, since that is the branch that github looks at for that metadata (issue templates, workflows).

[2021-04-02 12:40] seaneagan commented on #115
https://review.opendev.org/c/airship/treasuremap/+/783742

[2021-04-02 21:07] matthew-fuller commented on #112
Please assign this to me.

[2021-04-05 15:46] ak3216 opened #121 "VRRP Cleanup"
To correct the issue raised on VRRP seems to be from the json6902patch merge construct.
The below attributes to be added to the preKubeadmCommands as a part of the list but it has ended up concatenating both the lines which is leading to the issue.

- op: add
  path: "/spec/kubeadmConfigSpec/preKubeadmCommands/-"
  value:
      apt-get update && apt-get install -y bridge-utils keepalived ipset ipv

[2021-04-05 15:51] manojkva commented on #121
Please assign this to me

[2021-04-05 15:53] ak3216 commented on #121
@manojkva done

[2021-04-05 16:31] lb4368 commented on #30
In addition to delivering the ROOK-Ceph operator, please enhance the gating to integrate the operator in treasuremap airship-core type.

[2021-04-05 16:59] mf4716 commented on #121
For documentation only - Manoj's PS is https://review.opendev.org/c/airship/treasuremap/+/784790

[2021-04-06 02:06] manojkva commented on #121
Can be closed as the fix is merged.

[2021-04-06 11:03] ak3216 commented on #121
Closing per merge

[2021-04-06 11:03] #121 closed

[2021-04-06 19:37] sujeetch commented on #111
Assign to me

[2021-04-07 00:25] onlysource opened #122 "Provision target baremetal nodes with 'vm-infra-bridge'"
*Problem description (if applicable)**
Baremetal nodes requires a linux bridge created for underlying Virtual Machines communication.

**Proposed change**
Under site manifest, the linux bridge will need to be created as part of 'pre-kubernetes' provisioning. Perhaps this also can go under site networking catalogue.

https://github.com/airshipit/airshipctl/blob/master/manifests/site/test-site/targe

[2021-04-07 13:13] mattmceuen commented on #122
This change will modify the KubeadmConfigTemplate resource, which is currently defined only at site-level -- in a tiny form in test-site and a bloated form in STL3 manifests.

So, this issue should be coordinated with the following other changes.   I think someone will need to sit down and understand the contents/direction of all three to make sure they do what we need.

1. This change is to move

[2021-04-08 10:52] manojkva commented on #122
Please assign it to me.

[2021-04-08 11:38] ak3216 commented on #122
@manojkva all yours. LMK t-shirt size when you have a minute. Thanks!

[2021-04-12 12:50] lb4368 opened #123 "Deploy Synclabeller Operator via Airship Phase in multi-tenant type"
**Problem description**
When creating sub-clusters for a site, the SIP operator uses labels on BMH resources to schedule matching resources to a sub-cluster.  To expand this selection criteria, labels assigned to Kubernetes nodes can be made available on corresponding BMH resources using the Synclabeller operator.  As an operator, I want to deploy the Synclabeller operator as part of a multi-tenan

[2021-04-12 12:51] lb4368 commented on #123
PS here:  https://review.opendev.org/c/airship/treasuremap/+/785834

[2021-04-12 15:08] digambar15 commented on #123
PS is passing zuul. Please review.

[2021-04-12 15:08] digambar15 commented on #123
Please assign issue to me.

[2021-04-12 15:58] onlysource opened #124 "Cleanup calico policy stale artifacts"
**Problem description (if applicable)**
There is an open issue with 'calicoctl', where old policies are left behind, when updating network policy name. It would instead create a new policy, but fails to clean up the old policy artifact.

**Proposed change**
When applying the calico policies via airshipctl (with calicoctl image integrated) , we need to make sure the old artifacts are cleaned up, wh

[2021-04-14 16:46] #115 closed

[2021-04-14 22:13] jgu17 commented on #120
All the needed changes in the TM are done. We are ready to close

[2021-04-14 22:31] ak3216 commented on #120
Closing per merge

[2021-04-14 22:31] #120 closed

[2021-04-15 14:08] digambar15 commented on #123
PS merged - https://review.opendev.org/c/airship/treasuremap/+/785834

[2021-04-17 04:37] #110 closed

[2021-04-17 04:37] #107 closed

[2021-04-19 14:36] matthew-fuller commented on #50
Branch name changes were completed on 4/16, and the 2 changes related to moving the .github directory from v1.9 to master (https://review.opendev.org/c/airship/treasuremap/+/786763
https://review.opendev.org/c/airship/treasuremap/+/786762) have merged, completing all work for this issue.

[2021-04-19 14:36] #50 closed

[2021-04-19 15:44] matthew-fuller commented on #112
Treasuremap branches have changed, so a new change has been opened for this issue against the master branch: https://review.opendev.org/c/airship/treasuremap/+/786884

[2021-04-19 22:26] #103 closed

[2021-04-20 02:57] mattmceuen opened #125 "Clean up catalogues by selector"
Alexey took advantage of some new Kustomize functionality to simplify the way that we clean up catalogues after they're used in transformer kustomizations (e.g. secret generator, host generator...), deleting them via rules in a shared function which can delete resources by `kind:`.
https://review.opendev.org/c/airship/airshipctl/+/779829

This issue is to model the changes above into the treasurem

[2021-04-20 03:03] mattmceuen commented on #125
Just chatted with Alexey Odinokov, he is interested in implementing this one (I'll assign it to him after he comments on this)

[2021-04-20 03:03] aodinokov commented on #125
@mattmceuen , I can take it

[2021-04-20 18:08] aodinokov commented on #125
WIP: https://review.opendev.org/c/airship/treasuremap/+/787276

[2021-04-20 19:11] eratnch commented on #119
PS https://review.opendev.org/c/airship/treasuremap/+/786905 is ready for review.
Thanks!

[2021-04-21 14:37] jezogwza commented on #123
This PS merged. Closing.

[2021-04-21 14:37] #123 closed

[2021-04-21 20:35] aodinokov commented on #125
This has been merged. can be closed

[2021-04-21 20:46] ak3216 commented on #125
closing per code merge

[2021-04-21 20:46] #125 closed

[2021-04-22 02:13] matthew-fuller commented on #112
This change (786884) is essentially ready for review, but it's dependent on [this](https://review.opendev.org/c/airship/airshipctl/+/784620) change in airshipctl landing first, so the validate_docs job will continue to fail until the AIRSHIPCTL_REF is updated to pull in the schema changes.

[2021-04-22 19:24] drewwalters96 opened #126 "Update Dex Image to >= 2.26.0 : Critical Security Vulnerability"
**Describe the bug**
We currently use version v2.20.0 of the Dex image, which contains a critical security vulnerability. The [recommended mitigation](https://github.com/dexidp/dex/security/advisories/GHSA-m9hp-7r99-94h5) is to update to a version > `2.26.0`.

It's not known if this will require chart updates or not. If so, an issue should be filed against airship/charts.

[2021-04-26 14:23] #106 closed

[2021-04-27 15:58] mattmceuen opened #127 "Functionalize workers/provision"
Alex H made a patchset for moving the majority of worker node generation into a function, for DRY.  It never made it past the finish line, and needs to be adopted and rounded out.

https://review.opendev.org/c/airship/airshipctl/+/778931/21

[2021-04-27 21:57] lb4368 opened #128 "Provide Encryption for External Password for LDAP Backend for Dex"
**Problem description (if applicable)**
When configuring and LDAP back-end for the Dex OIDC provider (#19), the LDAP credentials must be included in the configuration that is applied to the target server.  These provided credentials must be stored/encrypted such that there no access to the clear text password during site deployment.

**Proposed change**
Provide a mechanism to securely provide exte

[2021-04-27 22:50] mattmceuen commented on #127
Oops, meant to put this on airshipctl rather than treasuremap.  Replaced by:
https://github.com/airshipit/airshipctl/issues/537

[2021-04-27 22:50] #127 closed

[2021-04-28 16:27] lb4368 commented on #104
New PSs merged:  https://review.opendev.org/c/airship/treasuremap/+/783223 and https://review.opendev.org/c/airship/treasuremap/+/787406.  Closing

[2021-04-28 16:27] #104 closed

[2021-04-28 19:10] #112 closed

[2021-04-28 19:45] ak3216 opened #129 "Deploy base multi-tenant type site in STL3"
Once issue #132 has been completed & the multi-tenant type has be derived from the airship-core reference type, we want to deploy the multi-tenant type site in STL3 before adding in the sub-cluster components. This ensure that the base multi-tenant type deploys successfully and will also allow for making any necessary changes to the CI/CD pipeline to deploy the multi-tenant type site alongside the

[2021-04-28 20:18] ak3216 opened #130 "Deploy multi-tenant type site with sub-cluster in STL labs"
Building on #129, we want to define a multi-tenant type reference site which includes a sub-cluster deployment in the STL labs. This is will include, but may not be limited to the following:

- All of the SIP/ViNO integration into Treasuremap - #103, #104, #105, #106, #123 - completed
- #94 - completed
- #82 - completed
- #122 - complete
- Deploying sample (WordPress) sub-cluster - #107 - complete

[2021-04-28 21:54] onlysource opened #131 "Create network policies (N/S and E/W) for infrastructure and sub-clusters"
**Problem description (if applicable)**
The deployment phase will need to implement specific N/S and E/W policies to allow all intended traffic flow between Infrastructure and Sub-clusters

**Proposed change**
Create necessary network policies to support desired traffic flow within the site. These policies will be implemented via 'airshipctl' phase.

**Potential impacts**
Not having any network po

[2021-04-28 22:46] lb4368 opened #132 "Deploy airship-core type site in STL3"
Need to create a CI/CD job which can be used to deploy and validate the reference airship-core type site built for v2.0 in the STL3 lab from the treasuremap master branch.

This will require pulling in patchsets from the v2.0 branch that are not yet merged.

[2021-04-28 22:51] lb4368 commented on #132
The following patchsets cherry pick changes from v2.0 branch:

https://review.opendev.org/c/airship/treasuremap/+/788549
https://review.opendev.org/c/airship/treasuremap/+/788548
https://review.opendev.org/c/airship/treasuremap/+/788517
https://review.opendev.org/c/airship/treasuremap/+/788576
https://review.opendev.org/c/airship/treasuremap/+/788575
https://review.opendev.org/c/airship/treasurema

[2021-04-29 11:57] lb4368 commented on #132
This issue is probably dependent upon merging v2.0 branch patchsets in airshipctl:  https://github.com/airshipit/airshipctl/issues/538

[2021-04-29 12:47] lb4368 opened #133 "Spike: Verify Triple Nested Virtualization of ViNO BMH CR Will Work in Zuul"
As the ViNO and SIP operators are introduced into the multi-tenant site type for creating sub-clusters, we will need a way to run the sub-cluster build in our Zuul gates.  This will required triple nested virtualization as Zuul runs within a VM, and the target cluster nodes are deployed as VMs within Zuul, and VMs are created when a ViNO CR is deployed to the target cluster nodes to be used by sub

[2021-04-29 16:47] sshiba commented on #19
Integration of API server/Dex/LDAP has been demonstrated using the following patchsets:

- https://review.opendev.org/c/airship/treasuremap/+/787834 (baseline v2.0)
- https://review.opendev.org/c/airship/charts/+/785540

These patchsets do not support the encryption of LDAP password and CA certificate for API server has not been signed by a known authority and secure it.

Note: in order to validat

[2021-04-29 20:17] drewwalters96 commented on #82
Completed in https://review.opendev.org/c/airship/treasuremap/+/780910

[2021-04-29 20:17] #82 closed

[2021-04-29 20:44] lb4368 commented on #130
Some of the tasks for the sub-cluster deployments are:

1.	Create phase plans to deploy the LMA and WordPress sub-clusters
2.	Create scripts to deliver SIP/ViNO phases and subcluster phase plans
3.	Update SIP to the latest version and configure the recently added infrastructure services.

Below are patchsets from @drewwalters96 that may help someone to complete these tasks.

https://review.opendev

[2021-04-30 10:49] #113 closed

[2021-05-03 16:13] sshiba commented on #19
The following patchset are ready for review:

- https://review.opendev.org/c/airship/treasuremap/+/788991
- https://review.opendev.org/c/airship/charts/+/785540

This document (https://hackmd.io/nvUupD15RlabSuahSwDOKA) describes how to validate these patchset.

[2021-05-04 17:04] eratnch commented on #131
Please assign to me, size m.

[2021-05-05 16:39] #119 closed

[2021-05-05 18:05] lb4368 opened #134 "Add Dex for Sub-Cluster Authentication"
**Problem description**
Need to provide a Dex OIDC provider pod during a sub-cluster deployment in order to be able to configure authentication and authorization within each sub-cluster.

Previous design had the SIP operator delivering Dex as a infrastructure service as a SIP CR was applied.  Since Dex deployment does not rely on any of SIP scheduling results and can leverage manifest functions de

[2021-05-05 19:11] lb4368 opened #135 "Enhance Dex Deployment to Pull Configuration from Catalogues for Target Cluster"
**Problem description**
Currently, the configuration for Dex (#19) in a target cluster has values hard-coded in function/type manifests.

**Proposed change**
Enhance Dex deployment such that configuration for Dex is set/overridden in site-specific catalogues and that sensitive information (CA certs/keys, passwords) are properly encrypted when saved.

Configuration includes:

- The NodePort on the

[2021-05-05 19:21] lb4368 opened #136 "Enhance Sub-Cluster Dex Deployment to Pull Configuration from Catalogues"
**Proposed change**
Building on #134, enhance the Dex deployment for sub-clusters such that configuration is set/overridden in sub-cluster-specific configuration in site catalogues and that sensitive information (CA certs/keys, passwords) are properly encrypted when saved.

Configuration includes:

- The NodePort on the target cluster where the sub-cluster auth service will be exposed for HTTPS ac

[2021-05-05 19:47] lb4368 opened #137 "Demonstrate LDAP Group Role Binding Using Dex"
**Proposed change**
Document the procedure to create RoleBinding and/or ClusterRoleBinding using subject user group(s) existing in an LDAP back-end configured with a Dex deployment for a target cluster or sub-cluster.  Demonstrate that a user authenticated via Dex will be bound to roles that correspond to user group in which the user is a member in LDAP.

Further analysis may indicate roles and bi

[2021-05-06 15:10] sshiba commented on #135
You can assign this issue to me.

[2021-05-06 15:10] gur38490 commented on #134
Please assign it to me, I can take it up.

[2021-05-06 15:13] sanjib-35 commented on #136
please assign it me

[2021-05-06 15:15] sshiba commented on #137
Assign it to me

[2021-05-06 20:51] imarijitbose commented on #132
Assigning in to me

[2021-05-06 20:53] imarijitbose commented on #130
Assigning to me.

[2021-05-06 21:07] imarijitbose commented on #129
Assigning to me.

[2021-05-10 13:19] sshiba commented on #126
Updated helm charts to use dex v2.26.0 image tag

[2021-05-10 13:21] sshiba commented on #128
Alexey is working on the feature providing the encryption for external passwords. After this feature is merged I can apply it to the LDAP password.

[2021-05-10 19:58] onlysource opened #138 "Configurable value for vm-infra-bridge IP address last octet"
Currently vm-infra-bridge IPAddress is hardcoded to be the 11th IPAddress in /26 subnet. This request is to develop framework to accommodate a configurable value, instead of hardcoded value.

**Proposed change**
This request is to develop framework to accommodate a configurable value, instead of hardcoded value.

**Potential impacts**
Without a configurable value, all deployments are required to f

[2021-05-10 21:50] sshiba commented on #126
The PS https://review.opendev.org/c/airship/charts/+/785540 updates the dex image tag to v2.28.1, which is currently in review.

[2021-05-10 21:59] ak3216 opened #139 "Create phase plans to deploy LMA & Wordpress subclusters"
There needs to be phase plans created to enable the deployment of the LMA & Wordpress sample sub-cluster that was defined in #107.

https://review.opendev.org/c/airship/treasuremap/+/788042 can be used as the starting point.

[2021-05-10 22:07] ak3216 opened #140 "Create multi-tenant type scripts to deliver SIP/ViNO phases and sub-cluster phase plans"
To support deploying a site with the multi-tenant type, create a set of deployment scripts separate from the airship-core type which deploys SIP, ViNO, the LMA & Wordpress sub-clusters & their workloads.

One of the tasks in updating the scripts is to ensure SIP code references the latest version and is configured to include the recently added infrastructure services.

Patchset https://review.open

[2021-05-10 22:09] rkjain opened #141 "34_deploy_controlplane_target.sh creates extra control plane"
**Description**
./tools/deployment/34_deploy_controlplane_target.sh creates an extra control plane node that remains in provisioning state.

**Steps To Reproduce**
use v2.0 branch of airshipctl and treasuremap, and followed the site authoring/deployment guide  to create 6 node cluster in ericsson lab.

[code]

**Expected behavior**
There should only be 3 control planes

[code]

[2021-05-10 22:15] rkjain opened #142 "incorrect node labels on worker nodes during bare metal deployment"
**Description**
We used v2.0 of airshipctl and treasuremap to create a 6 node cluster (3 CP, 3 Workers)in ericsson lab. The deployment was successful. However, the worker nodes are also labelled as master.

**Steps To Reproduce**
Follow site authoring/deployment guide for baremetal deployment.
[code]

**Expected behavior**
[code]

[2021-05-11 15:22] imarijitbose commented on #142
This script 35 is causing the master label at the worker nodes.
https://review.opendev.org/plugins/gitiles/airship/treasuremap/+/refs/heads/v2.0/tools/deployment/35_deploy_worker_node.sh#63.  Working to get it corrected

[2021-05-11 16:46] rkjain commented on #91
Manifests were created, and deployment was successful with minor issues. I have created issues : #141 and #142  for them. I have also requested access to nordix github - https://github.com/Nordix? , where the manifests will be maintained. Once I have more information on the repo, I will  commit the changes,  and we can mark #91 as completed

[2021-05-11 18:42] eak13 opened #143 "Conformance testing for Anuket (OPNVF + CNTT merged project)"
With the merger of CNTT & OPNFV into [Anuket](https://wiki.anuket.io/display/HOME/Anuket+Project), we need to reprise conformance testing that was previously performed in issues #25 & #80 to the standards laid out in Anuket Reference Conformance 2 (RC2) against a Reference Implementation 2 (RI2) site deployed by Airship 2.

RI2 information can be found here:
https://cntt.readthedocs.io/en/latest/r

[2021-05-11 22:38] eratnch commented on #143
Hi @ak3216, you can assign it to me.

[2021-05-12 02:08] imarijitbose commented on #132
This is been verified with master branch treasuremap (hash: 7743cae6d91923b4c8f6dcd5dc78051abf046991) and pinned version of airshipctl (hash: c355b600d7a3fd66f03016ad9384a13cf17e80e7).

Screen shot attached and this can be closed now
![airship-core](https://user-images.githubusercontent.com/8610555/117907811-0ba67500-b29d-11eb-8b2e-273fc01d8705.JPG)

[2021-05-12 11:41] ak3216 opened #144 "Anuket Conformance Testing in Ericsson BM Lab"
Leverage the test suite defined in #143 & apply Anuket k8s conformance testing to the Ericsson R2 baremetal lab.

This will be a follow on issue once #91 & #92 have been completed.

[2021-05-12 11:47] ak3216 commented on #132
Closing per evidence above of successful deployment

[2021-05-12 11:47] #132 closed

[2021-05-12 12:58] gur38490 commented on #134
Patchset for Dex replica https://review.opendev.org/c/airship/treasuremap/+/790964

[2021-05-12 13:28] sanjib-35 commented on #136
Patchset for Dex Nodeport replacement in Sub-Cluster:
https://review.opendev.org/c/airship/treasuremap/+/790974

[2021-05-12 13:33] rkjain commented on #144
Hi, I can take this one

[2021-05-12 13:36] imarijitbose commented on #129
This is been verified once in the stl3. Pending PS for this : https://review.opendev.org/c/airship/treasuremap/+/790795

[2021-05-12 13:44] ak3216 commented on #144
@rkjain I've assigned you. Going to leave Triage label on for now so we review on Flight Plan to raise awareness of this & #143. Thanks.

[2021-05-12 14:29] jezogwza commented on #136
Discussed in Flightplan the issue with replacing into the manifests/type/airship-core/ephemeral/controlplane/dex-apiserver/oidc-apiserver-flags.json  might require using a kustomize feature (openApi) , that would possible imply we need to upgrade the libraries of kustmize that airshipctl uses.

[2021-05-12 14:30] jezogwza commented on #135
Similar comment as #136

[2021-05-12 16:20] vs422h commented on #30
The Airship Integration with Rook for Deployment of Ceph cluster has been implemented, tested upstream and downstream and merged into master branch.
https://review.opendev.org/c/airship/treasuremap/+/788487
Also some minor fixes were implemented and merged, as well. I think, we can close the issue.

[2021-05-12 16:25] ak3216 commented on #30
Closing per above.

[2021-05-12 16:25] #30 closed

[2021-05-12 16:35] sujeetch commented on #124
assign me to

[2021-05-12 16:36] sujeetch commented on #124
Please assign to me

[2021-05-12 16:59] ak3216 commented on #124
All yours.

[2021-05-12 17:05] jgu17 commented on #143
We are in the process of bringing AS2 into Anuket lab as one of the RI-2 implement, then integrate with the Anuket Reference conformance (RC) testing tool as part of the CICD pipeline. It appears to me that this issue describes the latter part of the effort. Did I understand it correctly? Would it be desired to have the Anuket Airship RC2 gate job to report the results back to AS2.

[2021-05-12 21:48] sshiba commented on #135
This feature can only be partially implemented. The replacement transformer can be applied to the dex-aio HelmRelease resource but cannot be applied to the API server OIDC configuration as the "kustomization" is done through JSON format patch.

The `kustomize` supported by the `airshipctl` command does not support the ability to add new elements to a list when using `patchesStrategicMerge`. Instea

[2021-05-13 17:28] lb4368 commented on #135
@sshiba I removed "Replica counts for the Dex pods" as a configuration item in the catalogue.  Rather than including replica counts as a catalogue item, if the default replica count need to be overridden, it can be done at the site level via a kustomize patch.

[2021-05-13 17:29] lb4368 commented on #136
@sanjib-35 I removed "Replica counts for the Dex pods" as a configuration item in the catalogue.  Rather than including replica counts as a catalogue item, if the default replica count need to be overridden, it can be done at the sub-cluster level via a kustomize patch.

[2021-05-13 19:39] imarijitbose commented on #129
The issue has been verified once more at the current tip of treasuremap master and pinned airshipctl.
Traesuremap hash: e0a44391f2eeefa74d053ee0fd51a9edfb6f62f2
airshictl : c355b600d7a3fd66f03016ad9384a13cf17e80e7

Requesting close of this issue.

[2021-05-13 19:45] ak3216 commented on #129
Closing per above

[2021-05-13 19:45] #129 closed

[2021-05-13 20:43] eratnch commented on #131
Updated PS at https://review.opendev.org/c/airship/treasuremap/+/789942.
Thanks.

[2021-05-13 20:44] sreejithpunnapuzha commented on #133
Default domain configuration is having host-passthrough already (https://github.com/airshipit/airshipctl/blob/master/roles/libvirt-domain/defaults/main.yaml#L92). triple nested virtualization should work well. will check the gates once vino manifests are merged

[2021-05-13 21:25] mf4716 commented on #122
Related PS https://review.opendev.org/c/airship/treasuremap/+/787378

[2021-05-13 22:03] lb4368 opened #145 "Uplift ViNO CRD/CR"
**Problem description**
ViNO CRD and CR used in treasuremap is out-of-date and needs to be uplifted to latest version to take advantage of latest updates to working version.

**Proposed change**
- Update ViNO manifest function (manifests/function/vino) for latest ViNO version
- Update ViNO CR used in workload-config phase/function (manifests/function/workload-config)

**Potential impacts**
At some

[2021-05-13 22:10] lb4368 opened #146 "Uplift SIP CRD/CR"
**Problem description**
SIP CRD and CR used in treasuremap is out-of-date and needs to be uplifted to latest version to take advantage of latest updates to working version.

**Proposed change**
- Update SIP manifest function (manifests/function/sip) for latest version
- Update SIP CRs used in multi-tenant type sub-clusters (manifests/type/multi-tenant/sub-clusters) to latest version.

**Potential

[2021-05-14 18:15] lb4368 opened #147 "Generate and Encrypt BMC Credentials for ViNO CR"
**Problem description**
Currently the BMC credentials specified in the ViNO CR and used for creating BMH resources in the workload-config manifest function are hard-coded to clear text values.  These credentials need to be properly secured and managed during multi-tenant type deployments.

**Proposed change**
As part of multi-tenant site deployment, provide capability to generate and encrypt the B

[2021-05-14 19:33] niharikabhavaraju commented on #34
Status: Created a  PS earlier https://review.opendev.org/c/airship/treasuremap/+/783456 (abandoned this because v2 branch no longer exists), created a new PS https://review.opendev.org/c/airship/treasuremap/+/791454 with fixes of review comments in older PS. Currently I'm testing the PS by deploying test-site in treasuremap, running into an error while deploying controlplane. I'm working on fixing

[2021-05-16 03:37] sreejithpunnapuzha commented on #142
all commits for this issue can be found with the topic "fix-node-label" and the url for this commit is https://review.opendev.org/q/topic:%22fix-node-label%22+(status:open%20OR%20status:merged)

[2021-05-17 10:47] gur38490 commented on #134
As per discussion, since we don't need to change replica for dex necessarily and in case it is required, it could be handled via kustomize patch. Abandoned the patchset for replica changes https://review.opendev.org/c/airship/treasuremap/+/790964

For subcluster related changes, updated the patchset https://review.opendev.org/c/airship/treasuremap/+/790420/
and would create a different patchset fo

[2021-05-17 11:07] sanjib-35 commented on #136
Above PS: /790974 changes have been merged to https://review.opendev.org/c/airship/treasuremap/+/790420

[2021-05-17 16:17] rkjain commented on #144
I tried running the tests in Ericsson Lab. The test involves creating a python based virtual env, and install a bunch of dependecies using pip. The virtual env got setup. However, the step,  ansible-playbook functest-kubernetes-src/ansible/site.cntt.yml failed.  I have created a bug for the issue here - https://github.com/cntt-n/CNTT/issues/2428 .  I have been following the instructions from https

[2021-05-17 16:32] sshiba commented on #126
The PS https://review.opendev.org/c/airship/charts/+/785540 has been merged, which updates the dex image tag to v2.28.1

[2021-05-17 16:54] lb4368 commented on #126
Closed per patchset merge with Dex image update

[2021-05-17 16:54] #126 closed

[2021-05-17 23:10] sshiba commented on #19
Found a workaround for supporting catalogues and PS https://review.opendev.org/c/airship/treasuremap/+/791835 was created but still work-in-progress and not tested yet.

[2021-05-18 13:05] sreejithpunnapuzha commented on #142
The above mentioned commit is merged. Gates are working as expected. hence closing this issue

[2021-05-18 13:05] #142 closed

[2021-05-18 16:54] #122 closed

[2021-05-18 18:33] mattmceuen opened #148 "Tune down `airship-core` networking etc"
This should be implemented after we have a `reference-multi-tenant` bare metal site definition (which will be based on today's `reference-airship-core` and will match STL3).

Once `reference-multi-tenant` exists, we'll have a telco-oriented reference that demonstrates real-life networking config.  However, there's a need for a more bare-bones / simple / starting point configuration, and the `airsh

[2021-05-19 16:51] drewwalters96 commented on #118
This was completed in https://review.opendev.org/c/airship/treasuremap/+/787284

[2021-05-19 16:52] #118 closed

[2021-05-19 16:53] drewwalters96 commented on #117
As of 7aef5fe7 there are no phases at the site level

[2021-05-19 16:53] #117 closed

[2021-05-19 17:34] mattmceuen opened #149 "Make the Dex ingress VIP configurable"
The oidc-apiserver-flags.json patch, which configures the apiserver to delegate auth to Dex, currently lives in the airship-core [controlplane](https://github.com/airshipit/treasuremap/blob/master/manifests/type/airship-core/ephemeral/controlplane/dex-apiserver/oidc-apiserver-flags.json) definition as of this writing, and is moving to the k8scontrol-ha function as part of [this patch](https://revi

[2021-05-19 22:31] #116 closed

[2021-05-20 13:57] sshiba commented on #135
Feature being implemented in https://review.opendev.org/c/airship/treasuremap/+/791835.
Currently in testing & validation stage

[2021-05-20 14:12] sshiba commented on #137
This feature needs a deployable baremetal target cluster behind proxy to verify that updates to API server /OIDC flag works.
I have not been able to deploy such cluster and it has been a challenge to getting it troubleshooted.

Note that other developers are experience same challenges.

[2021-05-20 14:41] gur38490 commented on #134
Based on review comments, below  patchsets are ready for view
https://review.opendev.org/c/airship/airshipctl/+/792316
https://review.opendev.org/c/airship/treasuremap/+/791931
Note: https://review.opendev.org/c/airship/treasuremap/+/791931 depends on https://review.opendev.org/c/airship/airshipctl/+/792316 to work

[2021-05-20 15:00] lb4368 commented on #19
Closing per merge of below patchsets...

    https://review.opendev.org/c/airship/treasuremap/+/788991
    https://review.opendev.org/c/airship/charts/+/785540

PS https://review.opendev.org/c/airship/treasuremap/+/791835 is related to #135

[2021-05-20 15:00] #19 closed

[2021-05-20 16:21] niharikabhavaraju commented on #34
https://review.opendev.org/c/airship/treasuremap/+/791979 moved and cherry picked to master

[2021-05-20 21:46] drewwalters96 commented on #149
It looks like this may be a start on this: https://review.opendev.org/c/airship/treasuremap/+/792067

[2021-05-21 12:30] sanjib-35 commented on #136
Tried to make target-cluster ready to test our PSs.
Got stuck with script “35_deploy_worker_node.sh", not able to provision node03.

Error:

Waiting 3600 seconds for bmh to be in ready state.

Get bmh status
NAME     STATUS   PROVISIONING STATUS   CONSUMER                     BMC                                                              HARDWARE PROFILE   ONLINE   ERROR
node01

[2021-05-21 13:07] gur38490 commented on #134
Patchset https://review.opendev.org/c/airship/treasuremap/+/790420 has all treasuremap changes for Dex for sub-cluster.

[2021-05-21 16:19] StevTheDev commented on #64
The PS adding this was merged on March 15th, so I believe this issue can be closed.

[2021-05-21 16:30] StevTheDev commented on #69
[This patchset was merged on march 15](https://review.opendev.org/c/airship/treasuremap/+/770710).

[2021-05-21 16:37] gtsteffaniak commented on #83
Main PS https://review.opendev.org/c/airship/treasuremap/+/790437

[2021-05-21 16:58] lb4368 commented on #52
New cherry picked PS on treasuremap master:  https://review.opendev.org/c/airship/treasuremap/+/792387

[2021-05-21 18:08] lb4368 commented on #53
New cherry picked PS on treasuremap master: https://review.opendev.org/c/airship/treasuremap/+/792387

[2021-05-21 18:10] lb4368 commented on #54
PS:  https://review.opendev.org/c/airship/treasuremap/+/792396

[2021-05-21 18:14] lb4368 commented on #64
Closing per merge of https://review.opendev.org/c/airship/treasuremap/+/770709.

[2021-05-21 18:14] #64 closed

[2021-05-21 18:16] lb4368 commented on #69
Closing per patchset merge

[2021-05-21 18:16] #69 closed

[2021-05-21 18:52] lb4368 opened #150 "Deploy Kibana Dashboards in airship-core/multi-tenant types"
**Proposed change**
Provide a demonstration of a Kibana dashboard that includes logs from elasticsearch as part of an airship-core and multi-tenant site deployment.

MVP requirements:
1.	Functioning lma-stack composite
- 	Create LMA-stack composite in airshipit/treasuremap · Issue #61 · airshipit/treasuremap (github.com)
2.	Functioning elastic-stack composite
-	Create airshipit/treasuremap Functio

[2021-05-21 19:05] lb4368 commented on #71
Notes from email discussion for LMA manifest integration for sub-clusters

1.	Disassociate airship-core from multi-tenant (#116).  Create composites (like the existing “infra” composite) that represent reusable bundles of functions, as appropriate, and the independent types will consume them.
2.	Integrate the LMA composites into the airship-core workload (for operators) and workload-config (for CR

[2021-05-21 19:12] lb4368 opened #151 "Establish Persistent Storage for minio/elasticsearch"
**Proposed change**
As part of #71, connect minio and elasticsearch to persistent object bucket storage.

[2021-05-24 15:48] teoyaomiqui commented on #145
related patchset https://review.opendev.org/c/airship/treasuremap/+/792682

[2021-05-24 16:00] drewwalters96 commented on #149
I took a slightly different approach than the patch above that seems to be what we need for now: https://review.opendev.org/c/airship/treasuremap/+/792828

As mentioned in the original issue, this should probably be a URL in the future

[2021-05-24 19:10] drewwalters96 opened #152 "Use KPT to update Ceph function manifests"
**Problem description (if applicable)**
[KPT](https://googlecontainertools.github.io/kpt/) allows us to pull manifests from git repositories and push them as Treasuremap functions with a single command. This makes Treasuremap function uplifts easier and less error-prone. The Ceph function does not yet use KPT and should be updated to use it.

**Proposed change**
Use KPT to manage Ceph function man

[2021-05-25 00:07] imarijitbose commented on #129
The airshpctl hash was mentioned wrong. correct hash : e12b1e2fa639e02a54cb982d372dcdd8e3ee39de

[2021-05-25 08:01] gur38490 commented on #134
All the below patchsets belonging to this US is merged.
https://review.opendev.org/c/airship/treasuremap/+/790420
https://review.opendev.org/c/airship/airshipctl/+/792316
https://review.opendev.org/c/airship/treasuremap/+/791931

[2021-05-25 11:38] ak3216 commented on #134
Closing per above patchset merges

[2021-05-25 11:38] #134 closed

[2021-05-25 13:33] StevTheDev commented on #83
These PS are submitted, pending review:

[Treasuremap Elasticsearch & Kibana](https://review.opendev.org/c/airship/treasuremap/+/792788)
[Add elasticsearch-exporter to our elastic-stack](Add elasticsearch-exporter to our elastic-stack)

[2021-05-25 13:34] StevTheDev commented on #53
PS submitted, pending review

[Treasuremap Elasticsearch & Kibana](https://review.opendev.org/c/airship/treasuremap/+/792788)

[2021-05-25 13:35] StevTheDev commented on #52
PS submitted, pending review

[Treasuremap Elasticsearch & Kibana](https://review.opendev.org/c/airship/treasuremap/+/792788)

[2021-05-25 13:36] StevTheDev commented on #54
PS submitted, pending review

[Add elasticsearch-exporter to our elastic-stack](https://review.opendev.org/c/airship/treasuremap/+/792835)

[2021-05-25 14:21] aodinokov commented on #128
https://review.opendev.org/c/airship/treasuremap/+/790512 has been merged.

the needed replacement was introduced there: https://review.opendev.org/c/airship/treasuremap/+/790512/33/manifests/function/dex-aio/replacements/update-dex.yaml

[2021-05-25 14:50] hem2 commented on #148
@mattmceuen, I can work on this. Can you assign this to me? Thanks.

[2021-05-25 15:41] ak3216 commented on #148
@hem2 all yours!

[2021-05-25 18:41] StevTheDev commented on #150
Hey @lb4368, please assign this one to me!

[2021-05-25 18:52] lb4368 commented on #150
Done.  Thanks @StevTheDev !

[2021-05-25 20:10] lb4368 opened #153 "Remove Storage Cluster from Virtual Site Deployments"
**Problem description**
The Zuul gates which do the virtual site deployments have been failing often with timeouts.  It is believed that some of this may be related to the Rook deployment of the Ceph storage cluster using too many resources within the virtual environments.  It is suggested to remove the storage cluster composite deployment from the virtual test sites.  The storage cluster deployme

[2021-05-25 20:17] lb4368 opened #154 "Rename Virtual Sites in Treasuremap"
**Problem description**
The current names for the virtual sites in treasuremap (_test-site_ and _virtual-network-cloud_) are not following a similar naming convention as the baremetal reference sites (_reference-airship-core_ and _reference-multi-tenant_) which identifies the site purpose and its associated site type.

**Proposed change**
Rename the virtual sites in treasuremap as follows to indic

[2021-05-25 21:19] #146 closed

[2021-05-25 22:12] #145 closed

[2021-05-26 12:30] ak3216 opened #155 "Rook Ceph Updates to support multi-tenant type"
**Problem description (if applicable)**
There are a couple of changes needed for Rook-Ceph to support the multi-tenant type that have arisen mainly from decoupling the multi-tenant type from airship-core type:
1) Storage configuration for Rook is currently located within the airship-core type; however, the multi-tenant type no longer inherits this configuration from the airship-core type.
2) The r

[2021-05-26 12:31] ak3216 commented on #155
PS https://review.opendev.org/c/airship/treasuremap/+/792692 & https://review.opendev.org/c/airship/treasuremap/+/792694

[2021-05-26 13:46] ak3216 opened #156 "Create Multi-Tenant Type Manifests for Ericsson BM lab deployment"
As the deployment engineer for the Ericsson lab site, I want to have manifests created for a multi-tenant type site using Airship 2, so that an engineer can deploy a multi-tenant site with sub-cluster support in the baremetal lab.

[2021-05-26 13:47] ak3216 commented on #156
This is similar to #91 for airship-core

[2021-05-26 13:50] ak3216 opened #157 "Create Jenkins pipeline in Ericsson lab to automate the multi-tenant site baremetal deployment"
As a user of the Ericsson lab deployed using Airship 2.0, I want to have a Jenkins pipeline to automate the multi-tenant type deployment in the baremetal lab. This pipeline can run every night to deploy and validate the code. Also, this job should allow on-demand deployment against PS to for baremetal verification.

This issue extends the work in #92 for the multi-tenant type site  in #156 which w

[2021-05-26 14:26] ak3216 opened #158 "Anuket test automation in Ericsson BM lab"
Extend #143 to automate execution of Anuket tests via jenkins CI/CD in the Ericsson bare metal lab

[2021-05-26 14:59] mattmceuen commented on #149
This will be a temporary fix.  Long term we want to use a coredns pod running on the base VM, which can replace this one.

[2021-05-26 15:13] sshiba commented on #137
This capability was implemented in https://review.opendev.org/c/airship/treasuremap/+/791835, which required minor changes to the base dex-aio HelmRelease manifest.

[2021-05-26 15:16] rkjain commented on #157
hi, I can take this

[2021-05-26 15:17] rkjain commented on #156
Hi, you can assign this to me :)

[2021-05-26 15:21] sreejithpunnapuzha commented on #154
Commit with changes pushed.. https://review.opendev.org/c/airship/treasuremap/+/793194

[2021-05-26 17:19] sreejithpunnapuzha commented on #154
Above change is depend on uplifting airshipctl reference on treasuremap. we need this change to be applied https://review.opendev.org/c/airship/airshipctl/+/792836. once airshipctl is uplifted in treasuremap, recheck zuul job and it should be success

[2021-05-26 17:39] sshiba commented on #135
Addressed comments in PS but still need to decide where to put strategic merge for dex/LDAP connector.

[2021-05-26 18:37] lb4368 opened #159 "Align Treasuremap with recent Airshipctl changes"
Once again the airshipctl reference is out-of-date.  Current AIRSHIPCTL_REF is e12b1e2fa639e02a54cb982d372dcdd8e3ee39de.  Need to update the airshipctl reference in order to support SIP and ViNO deployments.

[2021-05-26 18:55] mattmceuen opened #160 "Move lma-stack contents to the workload phase"
Today, LMA components are deployed in an `lma-stack` phase, which is not what we want.  This issue is to
1) Move the contents of the lma-stack phase to the workload phase of the airship-core type (only)
    Note: the multi-tenant type deploys LMA via a subcluster's workload phase already, which is what we want.
2) Delete the lma-stack phase from all sites/types

[2021-05-26 20:05] lb4368 opened #161 "Automate AIRSHIPCTL_REF update"
**Problem description**
The process for updating the airshipctl commit reference (AIRSHIPCTL_REF) used for treasuremap gating still requires a manual validation and update.  A pipeline was created as part of #100 to gate the latest airshipctl commit against the current treasuremap commit.  We would like to have an more automated process use the result of the validation to update the AIRSHIPCTL_REF

[2021-05-26 20:43] sshiba commented on #128
Encrypted the password provided for LDAP test itservices in https://review.opendev.org/c/airship/treasuremap/+/791835/

[2021-05-26 20:50] lb4368 opened #162 "Create helm-chart-collator Image for Treasuremap"
**Problem description**
Treasuremap manifests currently use the default `quay.io/airshipit/helm-chart-collator:latest` image.  This requires that charts needed by treasuremap (e.g. Dex) be managed in the charts.yaml file in the images repository where the helm-chart-collator is defined and built.  It would be better if treasuremap managed its own charts.yaml and created a helm-chart-collator image

[2021-05-27 12:22] sanjib-35 commented on #136
successfully deployed target cluster in Local VM.
Adding Dex specific catalogue changes for subcluster, depends on Sidney’s  PS: https://review.opendev.org/c/airship/treasuremap/+/791835.
This patchset is still WIP, once this patchset is ready for review, I can base my patchset on top of it to start work quicker

[2021-05-27 14:22] sshiba commented on #136
PS https://review.opendev.org/c/airship/treasuremap/+/791835 will include Dex/LDAP patch (`patchesStrategicMerge`) in `treasuremap/manifests/type/subcluster/provide-infra`, which will be invoked by `lma `and `wordpress `under `<path to>/type/multi-tenant/subclusters`

[2021-05-27 14:37] sshiba commented on #135
PS https://review.opendev.org/c/airship/treasuremap/+/791835 includes Dex/LDAP patch (patchesStrategicMerge) in treasuremap/manifests/type/subcluster/provide-infra, which will be invoked by lma and wordpress under <path to>/type/multi-tenant/subclusters

[2021-05-27 20:12] drewwalters96 opened #163 "Synclabeller function resources do not deploy to a namespace"
**Describe the bug**
The synclabeller function resources do not have a namespace, causing a deployment error. Since there are upstream resources, a namespace should be added to the function-level Kustomization entrypoint.

[2021-05-27 20:36] hem2 commented on #148
WIP PS: https://review.opendev.org/c/airship/treasuremap/+/793247

[2021-05-27 21:07] seaneagan commented on #162
Items 2. and 3. are definitely needed so we can deploy without reaching out to external helm repositories. For item 1. during the CI process (master branch) it may prove difficult to both update the helm-chart-collator input (charts.yaml) and use the output (image) in a single commit, since it will need to be stored somewhere (likely quay.io) before it can be referenced/used, unless we can create

[2021-05-28 13:23] sirajyasin commented on #159
I can work on this issue. can someone assign this to me

[2021-05-28 14:08] sshiba commented on #137
https://review.opendev.org/c/airship/treasuremap/+/791835 is ready for review. Just waiting for zuul to pass first.

[2021-05-28 14:08] sshiba commented on #135
https://review.opendev.org/c/airship/treasuremap/+/791835 is ready for review. Just waiting for zuul to pass first.

[2021-05-28 14:09] sshiba commented on #128
https://review.opendev.org/c/airship/treasuremap/+/791835 is ready for review. Just waiting for zuul to pass first.

[2021-05-28 14:26] StevTheDev commented on #83
With both of those items merged, I'd say we can close this issue!

[2021-05-28 14:27] StevTheDev commented on #52
With that item merged, I'd say we can close this issue!

[2021-05-28 14:28] StevTheDev commented on #54
https://review.opendev.org/c/airship/treasuremap/+/792835

With that item merged, I'd say we can close this issue!

[2021-05-28 14:34] StevTheDev commented on #150
These PS have been merged, which brings us closer to completing this epic.

[Treasuremap Elasticsearch & Kibana](https://review.opendev.org/c/airship/treasuremap/+/792788)
[Add elasticsearch-exporter to our elastic-stack](https://review.opendev.org/c/airship/treasuremap/+/792835)

I have a few PS still outstanding which will help close this out:

- [Remove Minio Components from airship-core lma](h

[2021-05-28 16:23] hem2 commented on #148
Have sent the request for hardware details. Will resume once I get the lab details.

[2021-05-28 16:51] #52 closed

[2021-05-28 16:52] #54 closed

[2021-05-28 16:52] #83 closed

[2021-05-28 20:24] #131 closed

[2021-05-28 20:38] seaneagan opened #164 "Helm chart collator chart version update handling"
**Problem description (if applicable)**

We are currently exposing hard coded chart versions in the helm collator output image:
https://github.com/airshipit/images/blob/b7d03d4def5c58302c322f94fe5827145f351776/helm-chart-collator/config/charts.yaml#L7

If we update the content without updating the exposed version, then the flux source-controller will have no way to know that it needs to re-downloa

[2021-06-02 12:43] SirishaGopigiri commented on #153
Please assign this to me

[2021-06-02 13:38] sshiba commented on #135
https://review.opendev.org/c/airship/treasuremap/+/791835 is ready for review

[2021-06-02 15:30] seaneagan commented on #161
@lb4368 Do we need different validation for an AIRSHIPCTL_REF uplift than any other change? Why not just have the automation create the uplift patchset at the beginning which will trigger the gates like any other patchset. If there is an existing open "auto uplift" patchset, it can be updated with the new latest airshipctl tip reference, unless it has received code review or manual updates (can ch

[2021-06-02 15:30] ak3216 opened #165 "Run CNCF conformance testing in STL labs"
Run CNCF conformance testing against the reference sites in STL labs (multi-tenant & airship-core).

[2021-06-02 15:32] eratnch commented on #165
Please assign this to me. Thanks.

[2021-06-02 16:05] lb4368 commented on #161
@seaneagan In the above scenario, where would the automation be?  Would this be a nightly Jenkins job to create or update the current patchset or some other trigger based upon changes in airhsipctl?  I am good with the doing the gating in a patchset because this would be a good mechanism for configuring success/failure notification.

[2021-06-02 19:19] ak3216 commented on #155
Closing given the above patchsets have merged.

[2021-06-02 19:19] #155 closed

[2021-06-02 20:01] lb4368 opened #166 "Use `airshipctl plan run` in gates"
**Proposed change**
In airshipctl (https://github.com/airshipit/airshipctl/issues/517), gates are being updated to use `airshipctl plan run` for deployment.  Once that is complete, this needs to be uplifted in treasuremap gates to replace the scripts that run the individual phases of the deployment.

[2021-06-03 17:48] seaneagan commented on #164
https://review.opendev.org/c/airship/images/+/794657

[2021-06-03 17:48] StevTheDev commented on #150
Those last two patchsets were getting too big to be easily reviewed, so I broke them down into smaller pieces:

- [794370: Fix up validation errors from LMA functions](https://review.opendev.org/c/airship/treasuremap/+/794370)
- [793106: Update lma in airship-core type](https://review.opendev.org/c/airship/treasuremap/+/793106)
- [793068: Add LMA to multi-tenant type and reference site lma sub-clu

[2021-06-03 18:11] sirajyasin commented on #159
The related [PS](https://review.opendev.org/c/airship/treasuremap/+/793651) is merged and this issue can be closed

[2021-06-03 18:13] #159 closed

[2021-06-03 18:58] eratnch commented on #143
Since Airship RI-2 in Anuket is in a pause mode and there's no AS 2 deployed in the LaaS pod anymore, this issue needs to be set to low priority for now and reevaluated at a later stage.

cc @jgu17.

[2021-06-04 12:10] SirishaGopigiri commented on #153
Size would be 'M'

[2021-06-04 12:51] vladiskuz commented on #166
I can start to work on this issue. Can someone assign it to me?

[2021-06-04 13:10] ak3216 opened #167 "Create Gatekeeper function"
With pod security policies being deprecated in k8s v1.22, there is a need for a replacement to apply & manage policies. Gatekeeper provides the means for policy application & enforcement.

Information on PSP deprecation:
https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/

Information for Gatekeeper can be found here:
https://kubernetes.io/blog/2019/08/06/o

[2021-06-04 15:09] seaneagan commented on #162
Also the helm-chart-collator and helm-chart-repository functions and catalogue entries (hcc image and helm repo url) are currently in airshipctl, and we are currently just referencing the `latest` image. We should be pinning to an image sha and this should be done in treasuremap, since this is where charts are actually consumed. If we leave the functions in airshipctl, we should just leave the def

[2021-06-04 18:06] ak3216 opened #168 "Align Reference site disk layout for sub-cluster support"
Need to align the disk configuration for the STL2/STL3 multi-tenant reference site to support sub-clusters as follows:

Host OS: RAID-1, 2 468GB SSDs
Ephemeral Storage for Sub-Clusters: RAID-1, 2 890 GB SSDs
CEPH/Storage: RAID-0, 3 890 GB SSDs

![image](https://user-images.githubusercontent.com/7432527/120844263-c3454480-c534-11eb-9d20-5d8288d927a6.png)

[2021-06-04 18:26] ak3216 opened #169 "Create delivery mechanism for sub-cluster QCOW images"
Building on the work done for delivering the baremetal QCOW image, develop a similar mechanism to deliver sub-cluster VM QCOW images. This should be implemented for the multi-tenant site type & included in the sub-cluster deployment in STL3.

Reference the following merged patchsets:
https://review.opendev.org/c/airship/airshipctl/+/776705 < Defines delivery mechanism of the qcow image via Ironic.

[2021-06-04 20:28] StevTheDev commented on #160
Assign to me, please.

[This PS](https://review.opendev.org/c/airship/treasuremap/+/793106) handles this for the airship-core type. Trying to shake out some issues with the gate 👍

[2021-06-04 20:36] ak3216 commented on #160
@StevTheDev all yours. Thanks!

[2021-06-07 15:15] sirajyasin commented on #161
@lb4368 , I can start working on this issue if no one has started yet.

[2021-06-07 15:58] ak3216 opened #170 "Provide way to define/override Vino sub-cluster VM flavor definitions & apply to STL3"
Sub-cluster VM flavors are defined in https://github.com/airshipit/vino/blob/master/config/manager/flavors.yaml for ViNO to use when creating the sub-cluster VMs. We need the ability to define/override the control plane & worker flavor settings at least at a type level within Treasuremap and then have them consumed by ViNO at sub-cluster creation time.

Specifically for STL3, we need the following

[2021-06-07 16:35] eak13 opened #171 "Worker nodes should use containerd vs. Docker as default CRI"
With https://github.com/airshipit/airshipctl/issues/456 the switch to using containerd as the default CRI was made. While the control plane nodes deployed in Treasuremap appear to have inherited this change, it appears that the worker nodes are still running Docker by default.

Task:
1. Make any changes to the worker node deployments for both airship-core & multi-tenant type to ensure they impleme

[2021-06-07 16:55] lb4368 commented on #161
Thanks @sirajyasin

[2021-06-07 21:18] seaneagan commented on #161
@lb4368 @sirajyasin It would be fastest if it could be triggered directly by airshipctl merges, but nightly should be ok too. Zuul should be able to support either triggering mechanism if we want to use it, otherwise third party CI should be fine too.

[2021-06-07 21:22] seaneagan commented on #161
@sirajyasin If would be nice for the cases where it decided not to update the patchset due to manual updates or code review if it added a comment to the patchset saying that, along with the git SHA it was attempting to update to.

[2021-06-07 21:41] drewwalters96 commented on #170
Ready for review: https://review.opendev.org/c/airship/treasuremap/+/795187

[2021-06-08 15:17] drewwalters96 commented on #163
https://review.opendev.org/c/airship/treasuremap/+/795362

[2021-06-08 15:48] sanjib-35 commented on #136
CA feature implemented in https://review.opendev.org/c/airship/treasuremap/+/793592/.
Currently in discussion and testing phase, i will update accordingly.

[2021-06-08 15:58] seaneagan commented on #164
https://review.opendev.org/c/airship/treasuremap/+/795165

[2021-06-08 15:59] seaneagan commented on #164
https://review.opendev.org/c/airship/images/+/794838

[2021-06-08 20:29] lb4368 opened #172 "Match SIP Labels for CAPI Provisioning of Sub-cluster Nodes"
**Problem description**
When `SIPCluster` CRs are successfully applied to a target k8s cluster for associated sub-clusters, the SIP operator places the following labels on the BMH resources to identify the scheduled BMH resources:

- `sip.airshipit.org/cluster-namespace`:  namespace of SIP CR
- `sip.airshipit.org/cluster-name`:  name of SIP CR
- `sip.airshipit.org/node-type`:  _ControlPlane_ or _W

[2021-06-08 21:19] seaneagan commented on #172
Documentation about where to put these labels in the capi resources: https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/docs/api.md#hostselector-examples

[2021-06-08 21:27] hem2 commented on #148
I'm still waiting for lab details. Have sent reminders.

[2021-06-09 12:32] sanjib-35 commented on #136
Dex and catalogue changes in progress in https://review.opendev.org/c/airship/treasuremap/+/795527

[2021-06-09 16:06] sirajyasin commented on #133
Now that the vino is added part of the multi-tenant type, we can verify if it gets deployed and if vino can launch a VM. However there are issues with multi-tenant type gate scripts and it stuck at deploy control plane ephemeral stage. Once the gating issues are resolved, will check back on the vino status in virtual-network-cloud site.

[2021-06-10 13:09] sirajyasin commented on #147
@lb4368 , I can start working on this issue if no one has started yet.

[2021-06-10 13:15] seaneagan commented on #162
https://review.opendev.org/c/airship/images/+/794838

[2021-06-10 21:43] ak3216 opened #173 "Update to latest airshipctl reference"
Until we can put enhanced automation in place, we need to continually align treasuremap with the latest version of airshipctl. We are in a phase of dynamic change & this will be a reoccurring exercise.

[2021-06-10 21:48] ak3216 commented on #173
https://review.opendev.org/c/airship/treasuremap/+/795201 has been started by @sirajyasin

but it is dependent on https://github.com/airshipit/treasuremap/issues/166  being resolved first

[2021-06-11 05:08] #153 closed

[2021-06-11 13:23] ian-howell commented on #140
Closed by https://review.opendev.org/c/airship/treasuremap/+/792000

[2021-06-11 13:23] #140 closed

[2021-06-11 18:53] drewwalters96 commented on #170
The current approach will work with the new version of ViNO. This change is ready for review but has been rebased on Kostiantyn's uplift PS: https://review.opendev.org/c/airship/treasuremap/+/796014

[2021-06-11 20:21] lb4368 opened #174 "Manifest Structure for Gatekeeper Constraint Templates & Templates for Treasuremap"
**Problem description**
With the delivery of the [Gatekeeper] manifest function (#167), we will begin to define policy constraint templates and associated constraint instances for policies to be enforced within treasuremap or for use within downstream sites.  Would like to come up with a manifest structure for organizing these separate from the Gatekeeper install function itself and delivering the

[2021-06-11 20:48] lb4368 commented on #86
Design approach for using [Gatekeeper] as a PSP replacement:
- [ ] #167
- [ ] #174
- [ ] Define PSP-like replacement constraints

[Gatekeeper]: https://open-policy-agent.github.io/gatekeeper/website/docs/

[2021-06-14 17:50] gtsteffaniak commented on #151
@lb4368 @StevTheDev This is still considered future work. Original minio was removed because of obsolescence: https://review.opendev.org/c/airship/treasuremap/+/793202

New persistent storage requirement will likely utilize minio operator: https://github.com/minio/operator

[2021-06-15 14:08] aostapenko commented on #169
https://review.opendev.org/c/airship/airshipctl/+/796484

[2021-06-15 18:23] matthew-fuller commented on #171
Please assign this to me.

[2021-06-15 18:41] ak3216 commented on #171
@matthew-fuller all yours

[2021-06-15 18:58] lb4368 opened #175 "Epic - Day 2 Upgrade Process for Cluster Workloads"
**Problem description**
As an operator, I want a defined plan/process for deploying upgrades to workload resources within my target Kubernetes cluster, so that upgrades are delivered in a consistent manner that will simplify upgrade configuration and reduce upgrade errors.

**Proposed change**
Design and develop an upgrade process that encapsulates common phases of an upgrade and allows for config

[2021-06-15 20:00] seaneagan commented on #172
https://review.opendev.org/c/airship/treasuremap/+/796055

[2021-06-16 00:19] matthew-fuller commented on #171
After running the deployment gates locally for treasuremap, I checked the runtime version for nodes 01 and 03, and they both say
[code]

I'll need to verify whether Docker was seen on workers using a different deployment method than I used, and if so, try to replicate the problem and make changes if necessary.

[2021-06-16 11:12] ak3216 commented on #171
@matthew-fuller, if need be, follow up with @aostapenko as he was the one who encountered this during deployment. Thanks.

[2021-06-16 11:45] aostapenko commented on #171
This one is already mostly addressed by https://review.opendev.org/c/airship/treasuremap/+/794678 (merged) and https://review.opendev.org/c/airship/airshipctl/+/796380. Though we still need to switch to using airshipctl workers-capm3 replacements and remove workers-capm3 function from TM

[2021-06-16 12:12] ak3216 commented on #171
@aostapenko I see https://review.opendev.org/c/airship/treasuremap/+/794678 addresses airship-core type, but I didn't see the same for multi-tenant type. Does that still need to be resolved as well?

[2021-06-16 12:30] aostapenko commented on #171
multi-tenant type does not currently define workers on type level. Though virtual-network-cloud site (that uses multi-tenant type) is utilizing airshipctl via vm-infra-bridge/dataplane https://review.opendev.org/c/airship/treasuremap/+/794678/5/manifests/function/vm-infra-bridge/dataplane/kustomization.yaml
On the other hand reference-multi-tenant still does not utilize any function and defines al

[2021-06-16 12:49] ak3216 commented on #169
@aostapenko the above patchset creates the function in airshipctl. Will there also be a PS to include it for use by the multi-tenant type in treasuremap? Sorry if I'm jumping the gun & it's in progress. Thanks.

[2021-06-16 14:26] vladiskuz commented on #166
PS for the airship-core gating was merged https://review.opendev.org/c/airship/treasuremap/+/795564
PS for the multi-tenant gating is ready for review https://review.opendev.org/c/airship/treasuremap/+/796028

[2021-06-16 14:35] jezogwza commented on #173
Automation been taken care of with #161]

[2021-06-16 14:44] aostapenko commented on #169
I think we can leave cosmetic changes for later. And we'll need to have more discussion on desired layout given specifics of situation we're in.

[2021-06-16 17:04] seaneagan commented on #162
I created https://github.com/airshipit/airshipctl/issues/582 as well to make it easy to use other helm chart repositories during development time as this will still be useful.

[2021-06-16 17:43] ak3216 opened #176 "Implement phase/plan validation changes in Treasuremap manifests"
https://github.com/airshipit/airshipctl/issues/563 has moved document validation into the airshipctl phases & plans. We need to do the manifest work in Treasuremap to leverage the validation changes made in Airshipctl.

[2021-06-16 20:22] lb4368 opened #177 "Sub-clusters Deployment: Add Multi-Tenant Cluster Control Plane Nodes to ViNO VM Network"
**Problem description**
In order for VMs create by a ViNO CR to be provisioned by Ironic, the control plane nodes of the multi-tenant target cluster will need an IP address for the provisioning network for the VMs.

**Proposed change**
Update the target cluster network configuration to define a static IP address for each control plane node of the target cluster on the VM network.

- Provide capabi

[2021-06-16 20:29] matthew-fuller commented on #171
The comments so far (and the fact that I wasn't able to reproduce the issue) seem to indicate that most of the work on this issue has already been addressed by the above patch sets. Removing treasuremap's `workers-capm3` function and ensuring all sites and types inherit from airshipctl's instead seems within the scope of this issue, so https://review.opendev.org/c/airship/treasuremap/+/796737 has

[2021-06-16 20:54] seaneagan commented on #164
Now that https://review.opendev.org/c/airship/images/+/794657 is merged, we just need to update treasuremap to use the unique versions it produced, and document this process, and then we can close this.

[2021-06-16 21:07] #172 closed

[2021-06-16 22:49] mf4716 commented on #169
@aostapenko , it would be a big help to include the Relates-To tag, or Closes tag, in the commit message of your PSs.  This helps us track and correlate the issues-to-PSs.  And, if the Closes tag is used, a bot will automatically close the respective GitHub issue.  Thanks.  https://github.com/airshipit/airshipctl/blob/master/CONTRIBUTING.md#submitting-changes

[2021-06-17 13:06] lb4368 commented on #174
Notes from 6/15/21 design meeting:

### Definition of the Policy == Constraint Template
e.g. https://github.com/open-policy-agent/gatekeeper-library/blob/master/library/pod-security-policy/users/template.yaml
e.g. https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/pod-security-policy/users

[code]
### Instance of a Policy == Constraint
e.g https://github.com/open-policy-ag

[2021-06-17 13:21] lb4368 commented on #167
PS:  https://review.opendev.org/c/airship/treasuremap/+/795601

[2021-06-17 15:14] sirajyasin commented on #176
@ak3216 , is this impacted with a pinned version of airshipctl in treasuremap ? I had the same issue with uplift and trying to fix it.

[2021-06-17 15:15] sirajyasin commented on #176
My observation for this issue:
@ak3216
Treasuremap phase/plan/executors is inherited from airshipctl with specific patches. So plan list gives all plans of treasuremap's test-site as well as airshipctl's test-site.
Because of this validate docs is failing trying to validate all plans listed.

Plan list (from treasuremap [test-site] config):
PhasePlan/deploy-aiship-core-gating
PhasePlan/deploy-gati

[2021-06-17 15:28] ak3216 commented on #176
@sirajyasin this was reported from downstream and I'm not sure what version is currently being pulled as they're trying to stay up to date with current code, so I'm not sure there's a pinned version right now, though ultimately, they will pin to v2.1.

As far as approach, if we did #2, then we'd need patches for each type to remove the unwanted phases/plans, correct? That is, we would still inheri

[2021-06-17 16:27] pallavgupta commented on #34
Do we have any update on it?

[2021-06-17 16:30] ak3216 commented on #34
@pallavgupta Once we're firmer on the logging requirements, I will update the issue accordingly. @niharikabhavaraju has done a fair amount of the development already, but we still need to nail down some of the parameter settings.

[2021-06-17 19:20] lb4368 opened #178 "Failed Applying `provide-infra-lma` Phase in Multi-Tenant Reference Site"
**Describe the bug**
When applying provide-infra-lma phase the namespace didn't exist and apply failed. As a workaround applied SIPCluster resource manually

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
- Treasuremap version:
- Treasuremp site type:
- Airshipctl version:
- Operating system:
- Kernel version:
- Kubernetes version:
- Go versi

[2021-06-17 19:24] seaneagan commented on #162
https://review.opendev.org/c/airship/treasuremap/+/796933

[2021-06-17 19:26] seaneagan commented on #164
https://review.opendev.org/c/airship/treasuremap/+/796933

[2021-06-17 19:47] sshiba commented on #135
PS https://review.opendev.org/c/airship/treasuremap/+/791835 has been merged completing this issue.

[2021-06-17 19:48] sshiba commented on #137
PS https://review.opendev.org/c/airship/treasuremap/+/791835 has been merged completing this issue.

[2021-06-17 19:48] sshiba commented on #128
PS https://review.opendev.org/c/airship/treasuremap/+/791835 has been merged completing this issue.

[2021-06-17 20:14] #135 closed

[2021-06-17 20:14] #137 closed

[2021-06-17 20:14] #128 closed

[2021-06-17 20:17] lb4368 commented on #167
Per design discussion 6/17/21, the Gatekeeper function should be included in the _multi-tenant_ type and applied during the _initinfra_ phase.

[2021-06-17 21:53] lb4368 opened #179 "Create Gatekeeper Policy to Verify All Helm Chart Resources are Produced from Helm Chart Collator"
**Problem description**
With the delivery of the [Gatekeeper] manifest function (#167) and a manifest structure for constraint templates and constraints (#174), we would like to demonstrate a policy implementation and auditing within treasuremap.  As an initial example, we would like a policy that validates that all helm chart resources used within a site deployment are produced from the _helm-cha

[2021-06-17 21:57] lb4368 commented on #174
Some basic constraint templates that could be included from the Gatekeeper policy library (https://www.github.com/open-policy-agent/gatekeeper-library):

- https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/general/allowedrepos
- https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/general/containerlimits
- https://github.com/open-policy-agent/gateke

[2021-06-18 13:02] lb4368 commented on #178
PS:  :  https://review.opendev.org/c/airship/treasuremap/+/796942

[2021-06-18 15:05] manojkva commented on #177
Please assign this to me. Thanks

[2021-06-18 16:32] seaneagan commented on #162
https://review.opendev.org/c/airship/treasuremap/+/797138

[2021-06-18 18:30] lb4368 commented on #178
Closing per patchset merge

[2021-06-18 18:30] #178 closed

[2021-06-18 18:34] lb4368 opened #180 "Sub-clusters Deployment: Limit vino network cloud-init types to ipv4"
Ipv4 types in networkData, currently vino network maps to libvirt network, so using type from VINO network isn't reasonable, addressed in (limits us to single ipv4 network, has straight forward to fix in the future, vino will provide different variable for network IP protocol, right now hardcoded by user in network template)

**Environment**
- Treasuremap version: https://github.com/airshipit/trea

[2021-06-18 18:34] lb4368 commented on #180
PS:  https://review.opendev.org/c/airship/treasuremap/+/796981

[2021-06-18 18:53] lb4368 opened #181 "Sub-clusters Deployment: Sync Sub-Cluster API Server VIP/Port Between SIP CR and Metal3Cluster"
The VIP and NodePort used for creation by SIP of the Sub-Cluster API Server load balancer must be the same as specified in the `Metal3Cluster` CR for sub-cluster deployment.  Catalogue replacements need to be set up to provide these same values to both the SIPCluster CR and Metal3Cluster CR for each sub-cluster deployment in treasuremap.

**Environment**
- Treasuremap version: https://github.com/a

[2021-06-18 19:42] lb4368 opened #182 "Sub-clusters Deployment: Remove VRRP from Sub-Cluster KCP"
Since load balancers created by SIP will handle the load balancing for the sub-cluster API servers VRRP is not needed for the associated KubeadmControlPlane resources.  Need to remove VRRP from KCP for sub-clusters.

**Environment**
- Treasuremap version: https://github.com/airshipit/treasuremap/commit/12a6940214d4047362d11f8ed1305ce9875a5d57
- Treasuremp site type: multi-tenant

[2021-06-18 19:45] lb4368 opened #183 "Sub-clusters Deployment: Need SSH Keys Populated to KubeadmControlPlane"
Need to update replacements so that ssh key is populated in KubeadmControlPlane for sub-clusters.  For now, these can be the same ssh key used for the target management cluster

**Environment**
- Treasuremap version: https://github.com/airshipit/treasuremap/commit/12a6940214d4047362d11f8ed1305ce9875a5d57
- Treasuremp site type: multi-tenant

[2021-06-18 19:53] lb4368 opened #184 "Sub-clusters Deployment: All VM Nodes Use Single DHCP Server"
When provisioning VMs, all nodes went to a single DHCP server once again. This will cause problems when we will have 12 BMH on each node, and there will be 40 nodes in total, one DHCP server will have to have range for all those 480 nodes

**Environment**
- Treasuremap version: https://github.com/airshipit/treasuremap/commit/12a6940214d4047362d11f8ed1305ce9875a5d57
- Treasuremp site type: multi-te

[2021-06-18 20:24] lb4368 opened #185 "Sub-clusters Deployment: Fix Server/Rack Label Configuration for Multi-Tenant"
The BMH labels used by ViNO and SIP to identify the server and rack where a VM will be located are inconsistent.  Need to make the label setting consistent across the multi-tenant site deployment.

**Expected behavior**
The chain of events for providing server/rack labels to VMs created by ViNO and consumed by SIP is:
1)  The hostgenerator for the target cluster will need to specify label values f

[2021-06-18 21:42] seaneagan opened #186 "Drive workload node selection via workload-specific node labels?"
**Problem description (if applicable)**

In Airship 1 we were driving node selection via workload-specific labels applied to nodes, so that nodeSelectors rarely needed to be changed:
https://github.com/airshipit/treasuremap/blob/v1.9/global/profiles/host/cp.yaml#L57-L116
https://github.com/airshipit/treasuremap/blob/v1.9/global/profiles/host/dp.yaml#L57-L64

**Proposed change**

Is that the same a

[2021-06-18 22:01] seaneagan commented on #186
I think another advantage is that an operator can easily manipulate these labels to move a particular workload off a particular node where it is having issues. I guess with the sync labeller this could still work but the changes would need to be made to the BMH instead of the kubernetes node directly, so that the changes don't get undone.

[2021-06-21 13:39] sanjib-35 commented on #136
Both the PSs are ready for review:
https://review.opendev.org/c/airship/treasuremap/+/793592/
https://review.opendev.org/c/airship/treasuremap/+/795527

[2021-06-21 15:18] mattmceuen opened #187 "Streamline subcluster catalogue inheritance"
This issue builds on top of work done in this change: https://review.opendev.org/c/airship/treasuremap/+/795527

That change adds a `type/multi-tenant/sub-clusters/lma/catalogue/oidc-utility-subcluster.yaml`, a catalogue specific to the LMA subcluster, and which has the dex OIDC configuration specific for that subcluster.  That setup required adding a bit more kustomize plumbing, so that at the si

[2021-06-21 15:28] manojkva commented on #177
As discussed during DSU (21 June 2021), Scope of this issue limited to :  **reference-multi-tenant** site  as the changes for **virtual-network-cloud** site changes will require a separate issue.

[2021-06-21 18:56] mattmceuen commented on #182
Fix: https://review.opendev.org/c/airship/treasuremap/+/797154

[2021-06-21 22:35] mattmceuen commented on #185
I think I already put in the needed changes for this last week, but they haven't merged:
https://review.opendev.org/c/airship/treasuremap/+/797132
https://review.opendev.org/c/airship/airshipctl/+/797130

[2021-06-22 15:41] sanjib-35 commented on #136
create a independent  PS for sub-cluster secrets:
https://review.opendev.org/c/airship/treasuremap/+/797340/

[2021-06-22 15:43] sanjib-35 commented on #136
we can get core review with (WF -1) for all PSs as we are waiting for sub-cluster deployment need to be ready with issues#130.

[2021-06-22 16:07] uberscott commented on #151
Assign to me please!

[2021-06-22 19:25] sirajyasin commented on #173
I am working on the manual uplift while waiting for the automation to be ready.

PS: https://review.opendev.org/c/airship/treasuremap/+/795703

[2021-06-23 09:35] #27 closed

[2021-06-23 13:09] mf4716 commented on #169
Abandoned:  https://review.opendev.org/c/airship/airshipctl/+/796484
Replaced by: https://review.opendev.org/c/airship/treasuremap/+/796992

Per Andrii, TM169 can be closed as 796992 merged early morning hrs of 23 June 2021.

[2021-06-23 13:14] ak3216 commented on #169
Closing per code merge.

[2021-06-23 13:14] #169 closed

[2021-06-23 14:32] jezogwza commented on #186
Let's take an approach where we have a label catalog, that defines groups of labels. In the hosts.yaml we will refer to the label group. And the host generator will expand approriately.

[2021-06-23 15:10] mf4716 commented on #124
Related PS: https://review.opendev.org/c/airship/treasuremap/+/793094

[2021-06-23 17:47] seaneagan commented on #183
Actually it looks like the replacements for the control plane ssh authorized keys are already being inherited all the way down into the subclusters from here:
https://github.com/airshipit/airshipctl/blob/master/manifests/function/k8scontrol/replacements/generated-secrets.yaml

For the sub-cluster workers, I created this patchset:
https://review.opendev.org/c/airship/treasuremap/+/797540

[2021-06-23 22:30] mf4716 commented on #176
Related PS merged 23 June 2021: https://review.opendev.org/c/airship/treasuremap/+/796930

@sirajyasin , @ak3216 , can this issue be closed, or more PSs planned?

[2021-06-24 14:46] sirajyasin commented on #176
@mf4716 , one part of the issue is to fix the plan list to restrict it to site/type specific by overriding the same plan 'deploy-gating', instead of defining new plans for each site/type. The change for this is now merged.

However the new format of phase/plan based validation will be addressed as part of the uplift PS [0]
[0] https://review.opendev.org/c/airship/treasuremap/+/795703

[2021-06-25 11:23] peterwi opened #188 "Links are dead - https://docs.airshipit.org/treasuremap/airsloop.html"
Not a bug as such, the docs are not clear, Trying to follow https://docs.airshipit.org/treasuremap/airsloop.html

[2021-06-25 14:47] lb4368 opened #189 "Sub-clusters Deployment: ViNO VMs Provisioning Issue"
**Describe the bug**
After a ViNO CR is deployed during the _workload-config_ phase for the multi-tenant target cluster, some VMs created by ViNO intermittently are not provisioning completely with a DHCP lease.

Possible solutions are to:

1. Add BMHs with a significant time interval between each one
2. Identify BMH that are stuck in _inspecting_ status, and restart them

**Environment**
- Treasu

[2021-06-25 18:59] hem2 commented on #148
This story continue to be blocked due to lack of hardware resources. Next update will be when the servers are assigned to this work.

[2021-06-28 14:03] sirajyasin commented on #173
Uplift [PS](https://review.opendev.org/c/airship/treasuremap/+/795703)  is merged and this issue can be closed.

[2021-06-28 14:05] sirajyasin commented on #176
All sites in treasuremap are passing validate docs after the uplift [PS](https://review.opendev.org/c/airship/treasuremap/+/795703) is merged. This issue can be marked closed.

[2021-06-28 14:49] sirajyasin commented on #152
@drewwalters96 , I assume this issue is addressed in this [PS](https://review.opendev.org/c/airship/treasuremap/+/796097). Could you please advice if this can be marked closed or is there any additional work on this issue ?

[2021-06-28 14:57] ak3216 commented on #176
Closing per above patchset merge

[2021-06-28 14:57] #176 closed

[2021-06-28 16:38] drewwalters96 commented on #152
@sirajyasin Agreed, thank you.

[2021-06-28 16:38] #152 closed

[2021-06-28 17:50] ian-howell commented on #181
PS: https://review.opendev.org/c/airship/treasuremap/+/798352

[2021-06-28 20:15] vetbijaya commented on #34
I can take this one

[2021-06-29 10:58] ak3216 commented on #173
Closing this issue per patchset merge. Will open a new issue if we need to resync.

[2021-06-29 10:58] #173 closed

[2021-06-29 11:15] digambar15 opened #190 "treasuremap build_image script raises error while running "airshipctl plan run iso --debug" command"
sudo -E SOPS_IMPORT_PGP="$(cat /tmp/key.asc)" SOPS_PGP_FP="FBC7B9E2A4F9289AC0C1D4843D16CEE4A27381B4" ./tools/deployment/multi-tenant/24_build_images.sh
+ : ../airshipctl
+ cd ../airshipctl
+ ./tools/deployment/24_build_images.sh
+ export USER_NAME=root
+ USER_NAME=root
+ IMAGE_DIR=/srv/images
+ CLEANUP_SERVE_DIR=false
+ SITE=virtual-network-cloud
+ IMAGE_PHASE_PLANS=iso
+ sudo rm -rf /srv/images
+

[2021-06-29 11:16] digambar15 commented on #190
Let me know anyone come across any quick fix for above error.

[2021-06-29 13:35] mf4716 commented on #168
WIP.  2 of 7 (configs/settings) complete as of EOD 6/25.

[2021-06-29 22:33] mf4716 commented on #166
Additional PS from @vladiskuz :  to remove this job - https://review.opendev.org/c/airship/treasuremap/+/797325

[2021-06-30 14:40] sanjib-35 commented on #136
Still We are waiting reviews on above mentioned PSs.

[2021-06-30 14:40] sanjib-35 commented on #136
Still We are waiting for reviews on above mentioned PSs.

[2021-06-30 20:20] eratnch commented on #165
The link to the Jenkins CI pipeline -> https://jenkins.nc.opensource.att.com/job/conformance/job/stl2_Conformance/8/console.

Snippet showing all 277  tests related to conformance pass

![image](https://user-images.githubusercontent.com/66561014/124025799-e261b580-d9be-11eb-9bf9-39e5de273b92.png)

[2021-06-30 20:50] ak3216 commented on #165
Closing per successful run. Will revisit under a separate issue once the lab has been upgraded to k8s v1.20.

[2021-06-30 20:50] #165 closed

[2021-07-01 03:49] manojkva commented on #177
PS ready for review https://review.opendev.org/c/airship/treasuremap/+/797244

[2021-07-01 21:12] ak3216 opened #191 "Update init-infra phases for CA Cert Manager replacements"
**Problem description**
During sub-cluster deployment, it was found that the CA Cert Manager image could not be replaced in the manifests for the init-infra phases.

**Proposed change**
Review init-infra & init-infra-networking phases. Add replacements as needed for CA Cert Manager image.

[2021-07-02 14:33] lb4368 opened #192 "Secret Management for Sub-Clusters"
**Problem description**
Currently all encrypted secrets such as CAs, ssh keys, Dex client secrets, etc. are managed as part of the management cluster.  As sub-clusters are added to multi-tenant sites, there needs to be a mechanism to manage secrets specific to individual sub-clusters.

**Proposed change**

1. Provide a mechanism to generate and encrypt secrets specific to an individual sub-cluster

[2021-07-02 16:11] drewwalters96 commented on #191
The replacements Treasuremap needs were [recently added to Treasuremap](https://github.com/airshipit/airshipctl/commit/64eee820929d15d3a8d54a35c7c7136328e87880). Because we [updated our airshipctl reference](https://github.com/airshipit/treasuremap/commit/0c63baf8890afa1e7d5cb974f5428bb18492438d), we have access to the replacements.

Verified that they are working now in the master branch, closing

[2021-07-02 16:11] #191 closed

[2021-07-07 05:28] ermurugesanbe commented on #141
Please assign to me

[2021-07-07 13:53] ak3216 commented on #141
@ermurugesanbe all yours

[2021-07-07 14:47] jezogwza commented on #86
We will be leveraging gatekeeper constraints to implement this. This issue can be closed, and for follow up you can refer to the gatekeepr issues mentioned above.

[2021-07-07 14:47] #86 closed

[2021-07-07 15:46] StevTheDev commented on #150
Most of the patchsets associated with this feature have merged, but some things are not quite right in the implementation of the replacement transformers:

- [799090: Fix typo in kind and fix replacement transformer](https://review.opendev.org/c/airship/treasuremap/+/799090) merged.
- [799749: Add some and fix other LMA Versions Replacements](https://review.opendev.org/c/airship/treasuremap/+/7997

[2021-07-08 21:13] #147 closed

[2021-07-09 14:26] ermurugesanbe commented on #188
Please assignee to me

[2021-07-09 15:22] ak3216 commented on #188
@ermurugesanbe all yours

[2021-07-12 16:19] teoyaomiqui commented on #180
closing per merged patchset

[2021-07-12 16:19] #180 closed

[2021-07-12 18:37] sirajyasin commented on #161
Jenkins pipeline is created and it started pushing auto-uplift PSs to gerrit. Already 2 auto-uplift PSs created by jenkins CI are merged.
https://review.opendev.org/c/airship/treasuremap/+/799113
https://review.opendev.org/c/airship/treasuremap/+/800091

Still there are some enhancements to be done like amending to a open auto-uplift PS instead of pushing new one and creating github issue on failu

[2021-07-12 19:51] #181 closed

[2021-07-12 21:05] drewwalters96 commented on #186
I'll work this one

[2021-07-12 21:38] lb4368 commented on #183
Closing per patchset merge

[2021-07-12 21:38] #183 closed

[2021-07-13 13:20] lb4368 opened #193 "Spike: Dex OIDC Upgrade/Configuration Change in Existing Cluster (Brownfield)"
**Problem description**
The Dex identity service running within an existing cluster may require upgrade or configuration change.  We need to understand the implications of these updates on the running site.

**Proposed change**

- Provide a plan for applying a Dex upgrade or configuration change
- Identify impacts to cluster availability and performance during a Dex upgrade
- Identify impacts to e

[2021-07-13 17:26] #177 closed

[2021-07-14 05:14] teoyaomiqui commented on #189
this can be closed, solution seems to be to have proper ebtables rule

[2021-07-14 05:14] #189 closed

[2021-07-14 12:27] lb4368 opened #194 "Upgrade Rook for a brownfield site"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade all of the Rook components to the latest supported version.  As part of this effort, we also want to understand the impacts to upgrading Rook in an existing site.

- https://github.com/rook/rook/releases

**Proposed change**

- Update Rook components (storage-cluster, rook-clu

[2021-07-14 12:40] lb4368 opened #195 "Spike: Understand Ceph Upgrades (brownfield)"
**Problem description**
Would like to understand the implications of an upgrade to Ceph in an existing site cluster (brownfield scenario).

https://docs.ceph.com/en/latest/releases/

**Proposed change**

- Investigate and document a plan for an upgrade of Ceph on an existing cluster
- Identify dependencies and constraints such as Rook versions, etc.
- Identify impacts to cluster availability and p

[2021-07-14 12:48] eak13 opened #196 "Spike: Determine what happens when a Multus network attachment definition gets changed"
**Problem description (if applicable)**
Multus provides the ability to connect multiple CNIs to one Kubernetes cluster. Once Multus has been deployed in a network-cloud type (dependent on #20), we want to understand what the impacts of changing the network attachment definitions.

https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/README.md

**Proposed Change**
 In a running cluster wi

[2021-07-14 14:55] jezogwza commented on #190
Is this still happening for you?

[2021-07-14 14:58] jezogwza commented on #188
Peter, were you trying to work with Airship 1 specifically, if not please reach out and we can recommend a better approach for diving into Airship 2.

[2021-07-14 15:02] sshiba commented on #193
Please, assign this to me. Thanks.

[2021-07-14 16:10] peterwi commented on #188
Hi,
Thanks for coming back, I am interested in trying airship for edge, We currently use Openstack but for edge we are looking at something with hyperconverge for storage. I would be interested to know where is a best place to start with airship, from the docs it looked lik airsloop would fit the bill, not sure how can I use airship2.
Many thanks in advance

[2021-07-14 18:06] sirajyasin commented on #154
test-site --> virtual-airship-core is addressed in this PS and the same is merged
https://review.opendev.org/c/airship/treasuremap/+/795589

[2021-07-15 21:07] lb4368 commented on #182
Closing per patchset merge

[2021-07-15 21:07] #182 closed

[2021-07-15 21:09] lb4368 commented on #185
Closing per merged patchsets

[2021-07-15 21:09] #185 closed

[2021-07-15 21:18] lb4368 commented on #133
@sirajyasin  @sreejithpunnapuzha   - It has been decided that this is no longer needed in the immediate future so closing this issue.  We will re-open at some point if necessary.

[2021-07-15 21:18] #133 closed

[2021-07-15 21:46] lb4368 commented on #168
This is not needed at this time.  Closing.

[2021-07-15 21:46] #168 closed

[2021-07-16 14:47] ermurugesanbe commented on #74
please assign to me

[2021-07-16 16:31] lb4368 commented on #130
Closing this issue as sub-cluster delivery intent has been met.  Residual items open for possible future enhancement

[2021-07-16 16:31] #130 closed

[2021-07-19 11:36] ermurugesanbe commented on #188
Hi,
I had discussion with team members and airsloop is part of airship1. For your requirement everyone suggest to start with airship2
Full Doc - https://docs.airshipit.org/airshipctl/index.html
Developer's Guide - https://docs.airshipit.org/airshipctl/developers.html

[2021-07-21 05:02] sanjib-35 commented on #136
PS : https://review.opendev.org/c/airship/treasuremap/+/793592/ is merged
and waiting for final core reviews on other PS: https://review.opendev.org/c/airship/treasuremap/+/795527/

[2021-07-21 14:06] ak3216 commented on #190
@digambar15 is this still occurring?

[2021-07-21 21:37] ak3216 commented on #136
All patchsets have merged, closing this issue.

[2021-07-21 21:37] #136 closed

[2021-07-22 17:30] j-egler commented on #21
Please assign this issue to me

[2021-07-23 14:23] manojkva commented on #20
Could you please assign this to me.

[2021-07-23 15:31] SaurabhArora86 commented on #22
please assign it to me, as discussed me and @sanjib-35 would be working on it

[2021-07-24 09:48] digambar15 commented on #196
@ak3216  Please assign me.

[2021-07-26 12:15] ak3216 commented on #20
@manojkva I've updated the issue to bring it up to date & remove any references to the old code per our discussion.

[2021-07-26 12:22] ak3216 commented on #21
@j-egler I've updated the issue to remove references to the old lab code & added a link to SR-IOV quick start.

[2021-07-26 13:08] ak3216 commented on #22
@SaurabhArora86 I've updated the issue per our email exchange. @sanjib-35 please comment in the issue so I can assign you as well. Thanks.

[2021-07-26 13:15] sanjib-35 commented on #22
Please assign it to me too

[2021-07-27 15:42] sirajyasin commented on #190
@digambar15 , I was able to run through the deployment script (./tools/deployment/multi-tenant/24_build_images.sh) without any error. Please confirm if you are still experiencing the same issue, so that we can check if something environment specific is causing the issue.

@ak3216 , can you please assign this issue to me. I can work with @digambar15 and help him proceed further.

[2021-07-27 15:44] ak3216 commented on #190
@sirajyasin all yours.

[2021-07-28 16:09] ak3216 commented on #22
This will have a dependency on https://github.com/airshipit/airshipctl/issues/589 to enable dual stack support.

[2021-07-28 19:21] sreejithpunnapuzha commented on #154
Both sites have been renamed in ps https://review.opendev.org/c/airship/treasuremap/+/795589 and https://review.opendev.org/c/airship/treasuremap/+/793194. hence closing this issue

[2021-07-28 19:21] #154 closed

[2021-07-30 14:44] manojkva commented on #20
PS (WIP) = https://review.opendev.org/c/airship/treasuremap/+/802560

[2021-08-03 14:34] j-egler commented on #21
WIP: https://review.opendev.org/c/airship/treasuremap/+/803355

[2021-08-03 15:58] digambar15 commented on #190
@sirajyasin @ak3216 - I am not able to reproduce this issue in my recent deployment. Looks like it is fixed. We can close the bug.

[2021-08-03 17:28] ak3216 commented on #190
Closing per above comment that it currently cannot be reproduced

[2021-08-03 17:28] #190 closed

[2021-08-03 20:21] ak3216 commented on #150
@StevTheDev looks like those 2 patchsets merged (799090 & 799749). Can we close this issue now? Thanks.

[2021-08-04 11:39] ak3216 commented on #150
Closing per code merges.

[2021-08-04 11:39] #150 closed

[2021-08-04 11:39] ak3216 commented on #160
Closing per code merges.

[2021-08-04 11:39] #160 closed

[2021-08-06 14:49] manojkva commented on #22
Please assign this to me. I hope i could test it with feature-gate set locally until dependencies  are closed.

[2021-08-09 20:21] lb4368 opened #197 "Use `airshipctl plan run` in `multi-tenant` Type Gating"
**Proposed change**
Update gating for multi-tenant type to use `airshipctl plan run` for deployment rather than running individual phases.

This issue is split off #166 to address the multi-tenant type if/when it becomes a priority.  Currently gating for the virtual-multi-tenant site has be moved to experimental (https://review.opendev.org/c/airship/treasuremap/+/800299).

Initial PS for the multi

[2021-08-09 20:23] lb4368 commented on #166
This issue is being closed as gating for the airship-core type has been implemented and merged using 'airshipctl plan run'.  Possible future enhancement to apply to multi-tenant gating is tracked via #197.

[2021-08-09 20:23] #166 closed

[2021-08-13 15:35] ermurugesanbe commented on #188
Hi @ak3216,
Please close this ticket, this issue fix code has been merged to v1.9 on 12th Jul, @sirajyasin had fixed promote docs issue on below PS.
https://review.opendev.org/c/openstack/project-config/+/804170

[2021-08-13 15:55] ak3216 commented on #188
Closing per above. Thanks @ermurugesanbe

[2021-08-13 15:55] #188 closed

[2021-08-17 15:55] pallavgupta opened #198 "validation doc gate doing nothing and just skipping all sites validation"
**Describe the bug**
Current airship-treasuremap-validate-site-docs gate is doing nothing and just skipping all sites validation.

**Steps To Reproduce**
https://zuul.opendev.org/t/openstack/build/6e0e1b2873f742c7911cb99ade1efdd1/console

+ for site in $(ls ${MANIFEST_ROOT}/${site_root})
+ sites_to_skip=(az-test-site docker-test-site openstack-test-site)
+ [[  az-test-site docker-test-site opensta

[2021-08-17 15:55] pallavgupta commented on #198
PS https://review.opendev.org/c/airship/treasuremap/+/804762

[2021-08-19 13:52] hem2 commented on #148
@eak13  Please assign this to Snehal, sh4056@att.com. Downstream story is already assigned to Snehal.

Between, the story continue to be blocked for lack of lab.

[2021-08-19 13:57] eak13 commented on #148
@hem2 can you please have her comment so I can assign?

[2021-08-20 04:54] snehal1797 commented on #148
Please assign this issue to me

[2021-08-25 12:29] lb4368 commented on #162
Closed per patchset merge

[2021-08-25 12:29] #162 closed

[2021-08-25 12:30] lb4368 commented on #164
Closed per patchset merge

[2021-08-25 12:30] #164 closed

[2021-08-31 18:56] #198 closed

[2021-09-02 11:09] ermurugesanbe commented on #141
![image](https://user-images.githubusercontent.com/9988493/131833140-f9c70155-0dc8-41b6-8495-3b0b6850ab41.png)
by changing given manifest to replicate only first control-plane instead of adding new control-plane its fixed.

[2021-09-03 06:20] snehal1797 commented on #148
PS: https://review.opendev.org/c/airship/treasuremap/+/805998

[2021-09-06 14:31] ermurugesanbe commented on #141
Hi @rkjain,
kindly verify and close the issue.

[2021-09-07 05:26] digambar15 commented on #196
Design proposal is presented in DEsign meeting and it is also accepted. Can we close this issue as I already started working on developing the feature.

[2021-09-07 14:01] shon-phand commented on #194
I can start working on this. Please assign it to me.

[2021-09-08 13:49] lb4368 opened #199 "Onboard nfd-operator function in treasuremap"
**Problem description**
As part of SRIOV support, NFD operator is becoming mandatory and it needs to be onboarded into treasuremap as a Day-1 function for end to end testing.

**Proposed change**
Create a manifest function to deploy current version of the NFD operator:  https://github.com/kubernetes-sigs/node-feature-discovery

[2021-09-08 14:49] lb4368 commented on #199
Per Flight Plan discussion, the current approach is to use declarative labeling of host via host generator configuration (e.g. https://github.com/airshipit/airshipctl/blob/master/manifests/site/test-site/target/catalogues/hosts.yaml) rather that through discovery.  The declared labels can be used for Multus/SRIOV configuration.  Closing this issue for now.  It can be re-opened if direction changes

[2021-09-08 14:49] #199 closed

[2021-09-13 13:23] sirajyasin commented on #161
Auto uplift Pipeline is pushing PS upon successful build. However creating issue on failure is not addresses in this issue. As discussed, based on the priority any further enhancements to this uplift task will be created as a new issue and can be addressed on demand.

https://review.opendev.org/q/owner:airship2ci%2540gmail.com

@lb4368 ,Could we please mark this issue completed and we can open new

[2021-09-13 14:54] rkjain commented on #141
Thank you murugesan for getting this fixed.  I now understand that the reference manifests were creating an extra control plane, and that part had to be commented for this to work.

[2021-09-13 14:54] #141 closed

[2021-09-13 16:57] sshiba commented on #193
@lb4368, Is the expectation that Dex upgrade is done through **airshipctl phase run** command or directly using **helm** CLI?

[2021-09-13 18:55] lb4368 commented on #193
@sshiba   This would be an upgrade via **airshipctl phase run**.  I think we would like to update the Dex manifests re-apply a phase, that delivers.  If that works, we would like to then understand the implications of the upgrade or configuration change on the running cluster.

[2021-09-13 20:12] matthew-fuller commented on #171
Change [796737](https://review.opendev.org/c/airship/treasuremap/+/796737) to remove the `workers-capm3` function from treasuremap has been merged, so this issue can likely be closed now. @lb4368 @aostapenko do you agree?

[2021-09-13 20:39] aostapenko commented on #171
+1

[2021-09-13 22:39] eak13 commented on #171
Closing per above

[2021-09-13 22:39] #171 closed

[2021-09-15 13:29] eak13 opened #200 "Kube API server not deploying in HA mode"
**Describe the bug**
When attempting to perform day 2 upgrade of Kubernetes as part of https://github.com/airshipit/airshipctl/issues/621, the K8s API server VIP ought to be available, but seems not to be getting populated.

Need to investigate & resolve why the API Server VIP is not getting populated.